<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Hill Helicopters">
        <meta property="og:description" content="Jump to the front of the production line for your hill HX50 and get your HX50 as early as 2025">
        <meta name="title" content="Jump the line for Hills helicopter">
        <meta name="description" content="Jump to the front of the production line for your hill HX50 and get your HX50 as early as 2025">
        <meta name="keywords" content="hx50, hill, hills, heli, hc50, hillhelicopters, hillhelicopter, hill-helicopters, hill-helicopter, helicopters, helicopter, air">
        <meta name="robots" content="index, follow">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="language" content="English">
        <meta name="revisit-after" content="2 days">
        <meta name="author" content="Web Build Service">
        <meta property="og:locale" content="en_CA">
        <meta property="og:site_name" content="jump the line HX50">
        <meta property="og:url" content="https://jumpthelinehillhelicopters.com/">
        <meta property="og:image" content="https://jumpthelinehillhelicopters.com/images/background1.jpg">
        <meta property="og:image:width" content="739">
        <meta property="og:image:height" content="628">
        <meta property="og:image:type" content="image/jpg">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@big_boys_with_cool_toys">
        <meta name="twitter:title" content="Jump the production line and order your HX50 helicopter today">
        <meta name="twitter:description" content="Why order directly and wait till 2026 to get your HX50, when you can jump the line and get it as early as 2025.">
        <meta name="twitter:image" content="https://jumpthelinehillhelicopters.com/images/twitter-img.jpg">
        <meta name="twitter:url" content="https://jumpthelinehillhelicopters.com/">
        <link rel="canonical" href="https://jumpthelinehillhelicopters.com/contact/"/>
        <link rel="icon" href="../images/hill-logo-small.png">
        <title>Luxury Private Helicopter HX50</title>
        <link rel="stylesheet" href="./contact.css">
    </head>
    <body>
        <header>
            <div class="h-cont">
                <div class="h-i">
                    <a href="/"><img class="h-i-img" src="./images/hill-logo.png" alt="Logo image"></a>
                </div>
                <div class="h-m">
                    <a href="/">Home</a>
                    <a href="/gallery">Gallery</a>
                    <a id="h-contact" href="/contact">Contact</a>
                </div>
            </div>
        </header>
        <main>
            <div class="c-1-cont">
                <div class="c-1-main-cont">
                    <div class="c-1-main">
                        <p class="c-1-main-small">World first luxury private helicopter HX50</p>
                        <h1>Jump to the front of</h1>
                        <h1>the line for your hill HX50</h1>
                        <p class="c-1-main-small-1">Offering HX50 hall number: 222, 223,224</p>
                        <p class="c-1-main-small-1">Also available commercial HC50 hall number: 006</p>
                    </div>
                </div>
                <div class="c-1-sub">
                    <div class="c-1-sub-card">
                        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M10.0376 5.31617L10.6866 6.4791C11.2723 7.52858 11.0372 8.90532 10.1147 9.8278C10.1147 9.8278 10.1147 9.8278 10.1147 9.8278C10.1146 9.82792 8.99588 10.9468 11.0245 12.9755C13.0525 15.0035 14.1714 13.8861 14.1722 13.8853C14.1722 13.8853 14.1722 13.8853 14.1722 13.8853C15.0947 12.9628 16.4714 12.7277 17.5209 13.3134L18.6838 13.9624C20.2686 14.8468 20.4557 17.0692 19.0628 18.4622C18.2258 19.2992 17.2004 19.9505 16.0669 19.9934C14.1588 20.0658 10.9183 19.5829 7.6677 16.3323C4.41713 13.0817 3.93421 9.84122 4.00655 7.93309C4.04952 6.7996 4.7008 5.77423 5.53781 4.93723C6.93076 3.54428 9.15317 3.73144 10.0376 5.31617Z" fill="#0D9F53"></path> </g></svg>
                        <h1>Talk to me</h1>
                        <p>Don't hesitate to pick up the phone and chat with me. I'll be more than happy to answer any questions or concerns you may have.</p>
                        <h3>+1 (416) 992 - 7298</h3>
                    </div>
                    <div class="c-1-sub-card">
                        <svg fill="#0D9F53" viewBox="0 0 1920 1920" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M1920 428.266v1189.54l-464.16-580.146-88.203 70.585 468.679 585.904H83.684l468.679-585.904-88.202-70.585L0 1617.805V428.265l959.944 832.441L1920 428.266ZM1919.932 226v52.627l-959.943 832.44L.045 278.628V226h1919.887Z" fill-rule="evenodd"></path> </g></svg>
                        <h1>Leave me an email</h1>
                        <p>Feel free to drop me an email. I would be delighted to address any questions or concerns you might have.</p>
                        <h3>jumpthelinehillhelicopters@gmail.com</h3>
                    </div>
                </div>
            </div>
            <div class="c-1-alt-cont">
                <div class="c-1-alt">
                    <div class="c-1-alt-main">
                        <p class="c-1-main-small">World first luxury private helicopter HX50</p>
                        <h1>Jump to the front of</h1>
                        <h1>the line for your hill HX50</h1>
                        <p class="c-1-main-small-1">Offering HX50 hall number: 222, 223,224</p>
                        <p class="c-1-main-small-1">Also available commercial HC50 hall number: 006</p>
                    </div>
                </div>
                <div class="c-1-alt-sub">
                    <div class="c-1-alt-sub-card">
                        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M10.0376 5.31617L10.6866 6.4791C11.2723 7.52858 11.0372 8.90532 10.1147 9.8278C10.1147 9.8278 10.1147 9.8278 10.1147 9.8278C10.1146 9.82792 8.99588 10.9468 11.0245 12.9755C13.0525 15.0035 14.1714 13.8861 14.1722 13.8853C14.1722 13.8853 14.1722 13.8853 14.1722 13.8853C15.0947 12.9628 16.4714 12.7277 17.5209 13.3134L18.6838 13.9624C20.2686 14.8468 20.4557 17.0692 19.0628 18.4622C18.2258 19.2992 17.2004 19.9505 16.0669 19.9934C14.1588 20.0658 10.9183 19.5829 7.6677 16.3323C4.41713 13.0817 3.93421 9.84122 4.00655 7.93309C4.04952 6.7996 4.7008 5.77423 5.53781 4.93723C6.93076 3.54428 9.15317 3.73144 10.0376 5.31617Z" fill="#0D9F53"></path> </g></svg>
                        <h1>Talk to me</h1>
                        <p>Don't hesitate to pick up the phone and chat with me. I'll be more than happy to answer any questions or concerns you may have.</p>
                        <h3>+1 (416) 992 - 7298</h3>
                    </div>
                    <div class="c-1-alt-sub-card">
                        <svg fill="#0D9F53" viewBox="0 0 1920 1920" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M1920 428.266v1189.54l-464.16-580.146-88.203 70.585 468.679 585.904H83.684l468.679-585.904-88.202-70.585L0 1617.805V428.265l959.944 832.441L1920 428.266ZM1919.932 226v52.627l-959.943 832.44L.045 278.628V226h1919.887Z" fill-rule="evenodd"></path> </g></svg>
                        <h1>Leave me an email</h1>
                        <p>Feel free to drop me an email. I would be delighted to address any questions or concerns you might have.</p>
                        <h3 class="c-1-alt-sub-card-h3">jumpthelinehillhelicopters@gmail.com</h3>
                        <h3 class="c-1-alt-sub-card-h3-hid" style="margin: 20px 0 0 0; text-align: center;">jumpthelinehillhelicopters</h3>
                        <h3 class="c-1-alt-sub-card-h3-hid" style="margin: 10px 0;">@gmail.com</h3>
                    </div>
                </div>
            </div>
            <p class="credential">Designed and developed by 
                <a class="credential-link" href="https://webbuildservice.com/" target="_blank">Web Build Service</a>
            </p>
        </main>
    </body>
</html>