<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Josh Nguyen">
        <meta name="keywords" content="hillhelicopters, hillhelicopter, hill-helicopters, hill-helicopter, helicopters, helicopter, heli, air">
        <meta name="description" content="Hill Helicopters aims to disrupt the aviation market with a revolutionary new helicopter. Experience Jason Hill's vision of luxury, personal flight with Hill Helicopters' HX50. Pre Order yours now. Available worldwide. Features: 500 shp Horsepower, 700 nm Max Range.">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Hill Helicopters">
        <meta property="og:description" content="Hill Helicopters aims to disrupt the aviation market with a revolutionary new helicopter. Experience Jason Hill's vision of luxury, personal flight with Hill Helicopters' HX50. Pre Order yours now. Available worldwide. Features: 500 shp Horsepower, 700 nm Max Range.">
        <!-- Note to change this route -->
        <!-- <meta property="og:image" content="https://joshnguyentoronto.com/images/profile_camp_3.png">
        <meta property="og:url" content="https://joshnguyentoronto.com/">
        <meta property="og:locale" content="en_CA">
        <meta property="og:site_name" content="joshnguyentoronto.com">
        <meta property="og:image:width" content="600">
        <meta property="og:image:height" content="479">
        <meta property="og:image:type" content="image/png">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@big_boys_with_cool_toys">
        <meta name="twitter:title" content="">
        <meta name="twitter:description" content="View Josh's personal portfolio website where you can find Josh's information, background, skills, resume, Josh's projects, and more.">
        <meta name="twitter:image" content="https://joshnguyentoronto.com/images/profile_camp_3.png">
        <meta name="twitter:url" content="https://joshnguyentoronto.com/"> -->
        <title>Luxury Private Helicopter - HILL HELICOPTERS</title>
        <!-- <link rel="canonical" href="https://joshnguyentoronto.com/"> -->
        <!-- <link rel="icon" href="../images/hilheli-icon.png"> -->
        <link rel="stylesheet" href="./error.css">
    </head>

    <body>
        <header>
            <div class="h-cont">
                <div class="h-i">
                    <a href="/"><img class="h-i-img" src="./images/hill-logo.png" alt="Logo image"></a>
                </div>
                <div class="h-m">
                    <a href="/">Home</a>
                    <a href="/gallery">Gallery</a>
                    <a id="h-contact" href="/contact">Contact</a>
                </div>
            </div>
        </header>
        <main>
            <div class="error-main">
                <h1>Error</h1>
                <h1><%= message %></h1>
                <h2><%= error.status %></h2>
                <pre><%= error.stack %></pre>
            </div>
        </main>
        <footer>
            <div class="footer-cont">
                <div class="f-1 f-1-hid">
                    <h3>Jump to the front of the line</h3>
                    <h3>for your hill HX50</h3>
                    <p>Offering HX50 hall number: 222, 223,224</p>
                    <p>Also available commercial HC50 hall number: 006</p>
                </div>
                <div class="f-1">
                    <h3>Secure your place in production line!</h3>
                    <p>
                        <svg width="35" height="23" style="margin: 0 10px -5px 0;" viewBox="0 0 64 43" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_120_6)"><rect width="64" height="43" fill="white"/><path d="M14.08 0H0V43H14.08V0Z" fill="#E60000" stroke="#FF0000" stroke-width="0.125"/><path d="M64 0H49.92V43H64V0Z" fill="#E60000" stroke="#FF0000" stroke-width="0.125"/><path d="M47.1775 21.95C47.1775 21.95 46.666 21.7323 45.8815 21.3352C45.146 20.9664 45.272 20.526 45.351 20.148C45.4275 19.7721 46.589 15.2562 46.589 15.2562C46.589 15.2562 42.9724 16.0684 42.423 16.1864C41.873 16.3063 41.696 16.1088 41.617 15.9292C41.539 15.7509 41.067 13.6728 41.067 13.6728C41.067 13.6728 38.0205 17.3563 37.3715 17.9499C36.7245 18.5435 36.37 17.7917 36.4875 17.2172C36.605 16.6428 37.9415 8.77987 37.9415 8.77987C37.9415 8.77987 36.4685 9.55185 35.859 9.89047C35.2495 10.2261 34.83 10.0084 34.516 9.4803C34.201 8.95233 32 4.41016 32 4.41016C32 4.41016 29.799 8.95233 29.485 9.48042C29.17 10.0085 28.7515 10.2262 28.143 9.8906C27.5325 9.55198 26.0605 8.78 26.0605 8.78C26.0605 8.78 27.395 16.6429 27.5135 17.2173C27.632 17.7918 27.2775 18.5436 26.6295 17.95C25.9815 17.3565 22.935 13.6729 22.935 13.6729C22.935 13.6729 22.463 15.751 22.384 15.9294C22.3065 16.1089 22.129 16.3063 21.5795 16.1865C21.0295 16.0686 17.413 15.2563 17.413 15.2563C17.413 15.2563 18.5725 19.7722 18.6515 20.1482C18.7305 20.5261 18.854 20.9665 18.1205 21.3354C17.334 21.7324 16.8225 21.9501 16.8225 21.9501C16.8225 21.9501 23.917 28.0514 24.232 28.3668C24.546 28.6843 24.6055 28.9624 24.467 29.3776C24.33 29.7939 22.9255 31.4759 22.9255 31.4759C22.9255 31.4759 30.5255 30.4832 30.861 30.6072C31.1965 30.7301 31.4715 30.6989 31.5645 31.5918C31.6545 32.4847 31.3355 37.0652 31.3355 37.0652H31.9705H32.0295H32.667C32.667 37.0652 32.3465 32.4847 32.4395 31.5918C32.5285 30.6989 32.8035 30.7301 33.14 30.6072C33.4745 30.4832 41.0755 31.4759 41.0755 31.4759C41.0755 31.4759 39.671 29.7939 39.533 29.3776C39.3965 28.9624 39.454 28.6843 39.77 28.3668C40.083 28.0512 47.1775 21.95 47.1775 21.95Z" fill="#E60000" stroke="#FF0000" stroke-width="0.125"/></g><defs><clipPath id="clip0_120_6"><rect width="64" height="43" fill="white"/></clipPath></defs></svg>
                        +1 (416) 992 - 7298
                    </p>
                    <p>WhatsApp: <a class="f-1-a" href="https://wa.me/14169927298" target="_blank">+1 (416) 992 - 7298</a></p>
                    <p><a class="f-1-a" href="mailto:jumpthelinehillhelicopters@gmail.com" target="_blank">jumpthelinehillhelicopters@gmail.com</a></p>
                    <a href="/contact">Get in touch&nbsp;&#8680;</a>
                </div>
            </div>
            <p class="credential">Designed and developed by 
                <a class="credential-link" href="https://webbuildservice.com/" target="_blank">Web Build Service</a>
            </p>
        </footer>
    </body>
</html>