<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Josh Nguyen">
        <meta name="keywords" content="hillhelicopters, hillhelicopter, hill-helicopters, hill-helicopter, helicopters, helicopter, heli, air">
        <meta name="description" content="Hill Helicopters aims to disrupt the aviation market with a revolutionary new helicopter. Experience Jason Hill's vision of luxury, personal flight with Hill Helicopters' HX50. Pre Order yours now. Available worldwide. Features: 500 shp Horsepower, 700 nm Max Range.">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Hill Helicopters">
        <meta property="og:description" content="Hill Helicopters aims to disrupt the aviation market with a revolutionary new helicopter. Experience Jason Hill's vision of luxury, personal flight with Hill Helicopters' HX50. Pre Order yours now. Available worldwide. Features: 500 shp Horsepower, 700 nm Max Range.">
        <!-- Note to change this route -->
        <!-- <meta property="og:image" content="https://joshnguyentoronto.com/images/profile_camp_3.png">
        <meta property="og:url" content="https://joshnguyentoronto.com/">
        <meta property="og:locale" content="en_CA">
        <meta property="og:site_name" content="joshnguyentoronto.com">
        <meta property="og:image:width" content="600">
        <meta property="og:image:height" content="479">
        <meta property="og:image:type" content="image/png">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@big_boys_with_cool_toys">
        <meta name="twitter:title" content="">
        <meta name="twitter:description" content="View Josh's personal portfolio website where you can find Josh's information, background, skills, resume, Josh's projects, and more.">
        <meta name="twitter:image" content="https://joshnguyentoronto.com/images/profile_camp_3.png">
        <meta name="twitter:url" content="https://joshnguyentoronto.com/"> -->
        <title>Luxury Private Helicopter - HILL HELICOPTERS</title>
        <!-- <link rel="canonical" href="https://joshnguyentoronto.com/"> -->
        <!-- <link rel="icon" href="../images/hilheli-icon.png"> -->
        <link rel="stylesheet" href="./error.css">
    </head>

    <body>
        <header>
            <div class="h-cont">
                <div class="h-i">
                    <a href="/"><img class="h-i-img" src="./images/hill-logo.png" alt="Logo image"></a>
                </div>
                <div class="h-m">
                    <a href="/">Home</a>
                    <a href="/gallery">Gallery</a>
                    <a id="h-contact" href="/contact">Contact</a>
                </div>
            </div>
        </header>
        <main>
            <div class="error-main">
                <h1>Error</h1>
                <h1><%= message %></h1>
                <h2><%= error.status %></h2>
                <pre><%= error.stack %></pre>
            </div>
        </main>
        <footer>
            <div class="footer-cont">
                <div class="f-1 f-1-hid">
                    <h3>Jump to the front of the line</h3>
                    <h3>for your hill HX50</h3>
                    <p>Offering HX50 hall number: 222, 223,224</p>
                    <p>Also available commercial HC50 hall number: 006</p>
                </div>
                <div class="f-1">
                    <h3>Secure your place in production line!</h3>
                    <p>+1 (416) 992 - 7298</p>
                    <p><a class="f-1-a" href="mailto:jumpthelinehillhelicopters@gmail.com" target="_blank">jumpthelinehillhelicopters@gmail.com</a></p>
                    <a href="/contact">Get in touch&nbsp;&#8680;</a>
                </div>
            </div>
            <p class="credential">Designed and developed by 
                <a class="credential-link" href="https://webbuildservice.com/" target="_blank">Web Build Service</a>
            </p>
        </footer>
    </body>
</html>