<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Hill Helicopters">
        <meta property="og:description" content="Jump to the front of the production line for your hill HX50 and get your HX50 as early as 2025">
        <meta name="title" content="Jump the line for Hills helicopter">
        <meta name="description" content="Jump to the front of the production line for your hill HX50 and get your HX50 as early as 2025">
        <meta name="keywords" content="hx50, hill, hills, heli, hc50, hillhelicopters, hillhelicopter, hill-helicopters, hill-helicopter, helicopters, helicopter, air">
        <meta name="robots" content="index, follow">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="language" content="English">
        <meta name="revisit-after" content="2 days">
        <meta name="author" content="Web Build Service">
        <meta property="og:locale" content="en_CA">
        <meta property="og:site_name" content="jump the line HX50">
        <meta property="og:url" content="https://jumpthelinehillhelicopters.com/">
        <meta property="og:image" content="https://jumpthelinehillhelicopters.com/images/background1.jpg">
        <meta property="og:image:width" content="739">
        <meta property="og:image:height" content="628">
        <meta property="og:image:type" content="image/jpg">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@big_boys_with_cool_toys">
        <meta name="twitter:title" content="Jump the production line and order your HX50 helicopter today">
        <meta name="twitter:description" content="Why order directly and wait till 2026 to get your HX50, when you can jump the line and get it as early as 2025.">
        <meta name="twitter:image" content="https://jumpthelinehillhelicopters.com/images/twitter-img.jpg">
        <meta name="twitter:url" content="https://jumpthelinehillhelicopters.com/">
        <link rel="canonical" href="https://jumpthelinehillhelicopters.com/gallery/"/>
        <link rel="icon" href="../images/hill-logo-small.png">
        <title>Luxury Private Helicopter HX50</title>
        <link rel="stylesheet" href="./gallery.css">
        <script defer src="../gallery.js"></script>
    </head>
    <body>
        <header>
            <div class="h-cont">
                <div class="h-i">
                    <a href="/"><img class="h-i-img" src="./images/hill-logo.png" alt="Logo image"></a>
                </div>
                <div class="h-m">
                    <a href="/">Home</a>
                    <a id="active" href="/gallery">Gallery</a>
                    <a id="h-contact" href="/contact">Contact</a>
                </div>
            </div>
        </header>
        <main>
            <div class="g-1" id="g-1-toggle">
            <!-- class="g-1-active" -->
                <h1 id="g-1-h1">The story behind HX50</h1>
                <div class="g-1-m" id="g-1-m-toggle">
                <!-- class="g-1-m-active" -->
                    <div class="g-1-m-i">
                        <iframe id="g-1-m-i-vid" src="" allow="autoplay" width="100%" height="100%" frameborder="0" title="Youtube video"></iframe>
                    </div>
                    <div class="g-1-m-t">
                        <p class="g-1-m-t-title" id="g-1-m-t-title-text">Why build the HX50?</p>
                    </div>
                </div>
            </div>
            <div class="g-2" id="g-2-toggle">
            <!-- class="g-2-active" -->
                <div class="g-2-card" id="cont-vid-1">
                    <div class="g-2-c-cover" id="vid-1"></div>
                    <div class="g-2-c-i">
                        <img src="./images/thumbnail-vid-1.jpg" alt="Youtube video thumbnail">
                    </div>
                    <div class="g-2-c-t">
                        <p class="g-2-c-t-title">Why build the HX50 ?</p>
                        <p class="g-2-c-t-date">3 years ago</p>
                    </div>
                </div>
                <div class="g-2-card" id="cont-vid-2">
                    <div class="g-2-c-cover" id="vid-2"></div>
                    <div class="g-2-c-i">
                        <img src="./images/thumbnail-vid-2.jpg" alt="Youtube video thumbnail">
                    </div>
                    <div class="g-2-c-t">
                        <p class="g-2-c-t-title">How is the HX50 the world's first truly private helicopter ?</p>
                        <p class="g-2-c-t-date">3 years ago</p>
                    </div>
                </div>
                <div class="g-2-card" id="cont-vid-3">
                    <div class="g-2-c-cover" id="vid-3"></div>
                    <div class="g-2-c-i">
                        <img src="./images/thumbnail-vid-3.jpg" alt="Youtube video thumbnail">
                    </div>
                    <div class="g-2-c-t">
                        <p class="g-2-c-t-title">HX50 - Behind the Design</p>
                        <p class="g-2-c-t-date">3 years ago</p>
                    </div>
                </div>
                <div class="g-2-card" id="cont-vid-4">
                    <div class="g-2-c-cover" id="vid-4"></div>
                    <div class="g-2-c-i">
                        <img src="./images/thumbnail-vid-4.jpg" alt="Youtube video thumbnail">
                    </div>
                    <div class="g-2-c-t">
                        <p class="g-2-c-t-title">How does my iPad integrate with the digital cockpit?</p>
                        <p class="g-2-c-t-date">3 years ago</p>
                    </div>
                </div>
                <div class="g-2-card" id="cont-vid-5">
                    <div class="g-2-c-cover" id="vid-5"></div>
                    <div class="g-2-c-i">
                        <img src="./images/thumbnail-vid-5.jpg" alt="Youtube video thumbnail">
                    </div>
                    <div class="g-2-c-t">
                        <p class="g-2-c-t-title">How does the HX50 compare with other popular light helicopters?</p>
                        <p class="g-2-c-t-date">3 years ago</p>
                    </div>
                </div>
                <div class="g-2-card" id="cont-vid-6">
                    <div class="g-2-c-cover" id="vid-6"></div>
                    <div class="g-2-c-i">
                        <img src="./images/thumbnail-vid-6.jpg" alt="Youtube video thumbnail">
                    </div>
                    <div class="g-2-c-t">
                        <p class="g-2-c-t-title">What is the seat and luggage capacity of the HX50?</p>
                        <p class="g-2-c-t-date">3 years ago</p>
                    </div>
                </div>
                <div class="g-2-card" id="cont-vid-7">
                    <div class="g-2-c-cover" id="vid-7"></div>
                    <div class="g-2-c-i">
                        <img src="./images/thumbnail-vid-7.jpg" alt="Youtube video thumbnail">
                    </div>
                    <div class="g-2-c-t">
                        <p class="g-2-c-t-title">What is the engine of the HX50 and its specs?</p>
                        <p class="g-2-c-t-date">3 years ago</p>
                    </div>
                </div>
                <div class="g-2-card" id="cont-vid-8">
                    <div class="g-2-c-cover" id="vid-8"></div>
                    <div class="g-2-c-i">
                        <img src="./images/thumbnail-vid-8.jpg" alt="Youtube video thumbnail">
                    </div>
                    <div class="g-2-c-t">
                        <p class="g-2-c-t-title">Advantages of doing 51% of the HX50 build</p>
                        <p class="g-2-c-t-date">2 years ago</p>
                    </div>
                </div>
                <div class="g-2-card" id="cont-vid-9">
                    <div class="g-2-c-cover" id="vid-9"></div>
                    <div class="g-2-c-i">
                        <img src="./images/thumbnail-vid-9.jpg" alt="Youtube video thumbnail">
                    </div>
                    <div class="g-2-c-t">
                        <p class="g-2-c-t-title">How is the HX50 so affordable?</p>
                        <p class="g-2-c-t-date">2 years ago</p>
                    </div>
                </div>
                <div class="g-2-card" id="cont-vid-10">
                    <div class="g-2-c-cover" id="vid-10"></div>
                    <div class="g-2-c-i">
                        <img src="./images/thumbnail-vid-10.jpg" alt="Youtube video thumbnail">
                    </div>
                    <div class="g-2-c-t">
                        <p class="g-2-c-t-title">What is the team behind the HX50?</p>
                        <p class="g-2-c-t-date">2 years ago</p>
                    </div>
                </div>
                <div class="g-2-card" id="cont-vid-11">
                    <div class="g-2-c-cover" id="vid-11"></div>
                    <div class="g-2-c-i">
                        <img src="./images/thumbnail-vid-11.jpg" alt="Youtube video thumbnail">
                    </div>
                    <div class="g-2-c-t">
                        <p class="g-2-c-t-title">What makes the HX50 so fast?</p>
                        <p class="g-2-c-t-date">2 years ago</p>
                    </div>
                </div>
                <div class="g-2-card" id="cont-vid-12">
                    <div class="g-2-c-cover" id="vid-12"></div>
                    <div class="g-2-c-i">
                        <img src="./images/thumbnail-vid-12.jpg" alt="Youtube video thumbnail">
                    </div>
                    <div class="g-2-c-t">
                        <p class="g-2-c-t-title">What maintenance costs should I expect on my HX50?</p>
                        <p class="g-2-c-t-date">2 years ago</p>
                    </div>
                </div>
                <div class="g-2-card" id="cont-vid-13">
                    <div class="g-2-c-cover" id="vid-13"></div>
                    <div class="g-2-c-i">
                        <img src="./images/thumbnail-vid-13.jpg" alt="Youtube video thumbnail">
                    </div>
                    <div class="g-2-c-t">
                        <p class="g-2-c-t-title">Does the HX50 have a set lifespan or hourly overhaul limit?</p>
                        <p class="g-2-c-t-date">2 years ago</p>
                    </div>
                </div>
                <div class="g-2-card" id="cont-vid-14">
                    <div class="g-2-c-cover" id="vid-14"></div>
                    <div class="g-2-c-i">
                        <img src="./images/thumbnail-vid-14.jpg" alt="Youtube video thumbnail">
                    </div>
                    <div class="g-2-c-t">
                        <p class="g-2-c-t-title">What colours are available and how much can I customise my HX50?</p>
                        <p class="g-2-c-t-date">2 years ago</p>
                    </div>
                </div>
                <div class="g-2-card" id="cont-vid-15">
                    <div class="g-2-c-cover" id="vid-15"></div>
                    <div class="g-2-c-i">
                        <img src="./images/thumbnail-vid-15.jpg" alt="Youtube video thumbnail">
                    </div>
                    <div class="g-2-c-t">
                        <p class="g-2-c-t-title">Can we expect a certified version of the HX50?</p>
                        <p class="g-2-c-t-date">2 years ago</p>
                    </div>
                </div>
                <div class="g-2-card" id="cont-vid-16">
                    <div class="g-2-c-cover" id="vid-16"></div>
                    <div class="g-2-c-i">
                        <img src="./images/thumbnail-vid-16.jpg" alt="Youtube video thumbnail">
                    </div>
                    <div class="g-2-c-t">
                        <p class="g-2-c-t-title">Why build HX50's own digital cockpit?</p>
                        <p class="g-2-c-t-date">2 years ago</p>
                    </div>
                </div>
                <div class="g-2-card" id="cont-eps-1">
                    <div class="g-2-c-cover" id="eps-1"></div>
                    <div class="g-2-c-i">
                        <img src="./images/thumbnail-eps-1.jpg" alt="Youtube video thumbnail">
                    </div>
                    <div class="g-2-c-t">
                        <p class="g-2-c-t-title">Journey to HX50 | Episode 1: Meet the Protagonists</p>
                        <p class="g-2-c-t-date">2 years ago</p>
                    </div>
                </div>
                <div class="g-2-card" id="cont-eps-2">
                    <div class="g-2-c-cover" id="eps-2"></div>
                    <div class="g-2-c-i">
                        <img src="./images/thumbnail-eps-2.jpg" alt="Youtube video thumbnail">
                    </div>
                    <div class="g-2-c-t">
                        <p class="g-2-c-t-title">Journey to HX50 | Episode 2: In Conversation with Peter Wilson</p>
                        <p class="g-2-c-t-date">2 years ago</p>
                    </div>
                </div>
                <div class="g-2-card" id="cont-eps-3">
                    <div class="g-2-c-cover" id="eps-3"></div>
                    <div class="g-2-c-i">
                        <img src="./images/thumbnail-eps-3.jpg" alt="Youtube video thumbnail">
                    </div>
                    <div class="g-2-c-t">
                        <p class="g-2-c-t-title">Journey to HX50 | Episode 3: In Conversation with Steve Brooks</p>
                        <p class="g-2-c-t-date">2 years ago</p>
                    </div>
                </div>
                <div class="g-2-card" id="cont-eps-4">
                    <div class="g-2-c-cover" id="eps-4"></div>
                    <div class="g-2-c-i">
                        <img src="./images/thumbnail-eps-4.jpg" alt="Youtube video thumbnail">
                    </div>
                    <div class="g-2-c-t">
                        <p class="g-2-c-t-title">Journey to HX50 | Episode 4: Why are composites key to the HX50?
                        </p>
                        <p class="g-2-c-t-date">2 years ago</p>
                    </div>
                </div>
                <div class="g-2-card" id="cont-eps-5">
                    <div class="g-2-c-cover" id="eps-5"></div>
                    <div class="g-2-c-i">
                        <img src="./images/thumbnail-eps-5.jpg" alt="Youtube video thumbnail">
                    </div>
                    <div class="g-2-c-t">
                        <p class="g-2-c-t-title">Journey to HX50 | Episode 5: Making gears for the HX50</p>
                        <p class="g-2-c-t-date">2 years ago</p>
                    </div>
                </div>
                <div class="g-2-card" id="cont-eps-6">
                    <div class="g-2-c-cover" id="eps-6"></div>
                    <div class="g-2-c-i">
                        <img src="./images/thumbnail-eps-6.jpg" alt="Youtube video thumbnail">
                    </div>
                    <div class="g-2-c-t">
                        <p class="g-2-c-t-title">Journey to HX50 | Episode 6: Why build a 1/3 scale model HX50?</p>
                        <p class="g-2-c-t-date">2 years ago</p>
                    </div>
                </div>
                <div class="g-2-card" id="cont-eps-7">
                    <div class="g-2-c-cover" id="eps-7"></div>
                    <div class="g-2-c-i">
                        <img src="./images/thumbnail-eps-7.jpg" alt="Youtube video thumbnail">
                    </div>
                    <div class="g-2-c-t">
                        <p class="g-2-c-t-title">Journey to HX50 | Episode 7: Materials testing up close</p>
                        <p class="g-2-c-t-date">2 years ago</p>
                    </div>
                </div>
                <div class="g-2-card" id="cont-eps-8">
                    <div class="g-2-c-cover" id="eps-8"></div>
                    <div class="g-2-c-i">
                        <img src="./images/thumbnail-eps-8.jpg" alt="Youtube video thumbnail">
                    </div>
                    <div class="g-2-c-t">
                        <p class="g-2-c-t-title">Journey to HX50 | Episode 8: CNC machines installed and ready to go</p>
                        <p class="g-2-c-t-date">1 years ago</p>
                    </div>
                </div>
                <div class="g-2-card" id="cont-eps-9">
                    <div class="g-2-c-cover" id="eps-9"></div>
                    <div class="g-2-c-i">
                        <img src="./images/thumbnail-eps-9.jpg" alt="Youtube video thumbnail">
                    </div>
                    <div class="g-2-c-t">
                        <p class="g-2-c-t-title">Journey to HX50 | Episode 9: Big News thanks to Composite Integration</p>
                        <p class="g-2-c-t-date">1 years ago</p>
                    </div>
                </div>
                <div class="g-2-card" id="cont-eps-10">
                    <div class="g-2-c-cover" id="eps-10"></div>
                    <div class="g-2-c-i">
                        <img src="./images/thumbnail-eps-10.jpg" alt="Youtube video thumbnail">
                    </div>
                    <div class="g-2-c-t">
                        <p class="g-2-c-t-title">Journey to HX50 | Episode 10: Crashworthiness tests for HX50 seats</p>
                        <p class="g-2-c-t-date">1 years ago</p>
                    </div>
                </div>
                <div class="g-2-card" id="cont-eps-11">
                    <div class="g-2-c-cover" id="eps-11"></div>
                    <div class="g-2-c-i">
                        <img src="./images/thumbnail-eps-11.jpg" alt="Youtube video thumbnail">
                    </div>
                    <div class="g-2-c-t">
                        <p class="g-2-c-t-title">Journey to HX50 | Episode 11: Testing torque values for Helimove</p>
                        <p class="g-2-c-t-date">1 years ago</p>
                    </div>
                </div>
                <div class="g-2-card" id="cont-eps-12">
                    <div class="g-2-c-cover" id="eps-12"></div>
                    <div class="g-2-c-i">
                        <img src="./images/thumbnail-eps-12.jpg" alt="Youtube video thumbnail">
                    </div>
                    <div class="g-2-c-t">
                        <p class="g-2-c-t-title">Journey to HX50 | Episode 12: The complex process of gear-making</p>
                        <p class="g-2-c-t-date">1 years ago</p>
                    </div>
                </div>
                <div class="g-2-card" id="cont-eps-13">
                    <div class="g-2-c-cover" id="eps-13"></div>
                    <div class="g-2-c-i">
                        <img src="./images/thumbnail-eps-13.jpg" alt="Youtube video thumbnail">
                    </div>
                    <div class="g-2-c-t">
                        <p class="g-2-c-t-title">Journey to HX50 | Episode 13: Hill expands its workspace, adding 2 new facilities</p>
                        <p class="g-2-c-t-date">1 years ago</p>
                    </div>
                </div>
                <div class="g-2-card" id="cont-eps-14">
                    <div class="g-2-c-cover" id="eps-14"></div>
                    <div class="g-2-c-i">
                        <img src="./images/thumbnail-eps-14.jpg" alt="Youtube video thumbnail">
                    </div>
                    <div class="g-2-c-t">
                        <p class="g-2-c-t-title">Journey to HX50 | Episode 14: High performance engine demands high grade materials</p>
                        <p class="g-2-c-t-date">1 years ago</p>
                    </div>
                </div>
                <div class="g-2-card" id="cont-eps-15">
                    <div class="g-2-c-cover" id="eps-15"></div>
                    <div class="g-2-c-i">
                        <img src="./images/thumbnail-eps-15.jpg" alt="Youtube video thumbnail">
                    </div>
                    <div class="g-2-c-t">
                        <p class="g-2-c-t-title">Journey to HX50 | Episode 15: CMM in place to provide vital calibrations of HX50 components</p>
                        <p class="g-2-c-t-date">1 years ago</p>
                    </div>
                </div>
                <div class="g-2-card" id="cont-eps-16">
                    <div class="g-2-c-cover" id="eps-16"></div>
                    <div class="g-2-c-i">
                        <img src="./images/thumbnail-eps-16.jpg" alt="Youtube video thumbnail">
                    </div>
                    <div class="g-2-c-t">
                        <p class="g-2-c-t-title">Journey to HX50 | Episode 16: Finding the right machine to make parts for the engine</p>
                        <p class="g-2-c-t-date">1 years ago</p>
                    </div>
                </div>
                <div class="g-2-card" id="cont-eps-17">
                    <div class="g-2-c-cover" id="eps-17"></div>
                    <div class="g-2-c-i">
                        <img src="./images/thumbnail-eps-17.jpg" alt="Youtube video thumbnail">
                    </div>
                    <div class="g-2-c-t">
                        <p class="g-2-c-t-title">Journey to HX50 | Episode 17: Find out how gears are tested for precision</p>
                        <p class="g-2-c-t-date">1 years ago</p>
                    </div>
                </div>
                <div class="g-2-card" id="cont-eps-18">
                    <div class="g-2-c-cover" id="eps-18"></div>
                    <div class="g-2-c-i">
                        <img src="./images/thumbnail-eps-18.jpg" alt="Youtube video thumbnail">
                    </div>
                    <div class="g-2-c-t">
                        <p class="g-2-c-t-title">Journey to HX50 | Episode 18: Industrial Metamorphosis</p>
                        <p class="g-2-c-t-date">1 years ago</p>
                    </div>
                </div>
                <div class="g-2-card" id="cont-eps-19">
                    <div class="g-2-c-cover" id="eps-19"></div>
                    <div class="g-2-c-i">
                        <img src="./images/thumbnail-eps-19.jpg" alt="Youtube video thumbnail">
                    </div>
                    <div class="g-2-c-t">
                        <p class="g-2-c-t-title">Journey to HX50 | Episode 19: HX50 on track with chasing microns and hitting tolerances</p>
                        <p class="g-2-c-t-date">1 years ago</p>
                    </div>
                </div>
                <div class="g-2-card" id="cont-eps-20">
                    <div class="g-2-c-cover" id="eps-20"></div>
                    <div class="g-2-c-i">
                        <img src="./images/thumbnail-eps-20.jpg" alt="Youtube video thumbnail">
                    </div>
                    <div class="g-2-c-t">
                        <p class="g-2-c-t-title">Journey to HX50 | Episode 20: From empty warehouse to full scale HX50 airframe</p>
                        <p class="g-2-c-t-date">1 years ago</p>
                    </div>
                </div>
                <div class="g-2-card" id="cont-eps-21">
                    <div class="g-2-c-cover" id="eps-21"></div>
                    <div class="g-2-c-i">
                        <img src="./images/thumbnail-eps-21.jpg" alt="Youtube video thumbnail">
                    </div>
                    <div class="g-2-c-t">
                        <p class="g-2-c-t-title">Journey to HX50 | Episode 21: Vertical Integration and the HX50</p>
                        <p class="g-2-c-t-date">1 years ago</p>
                    </div>
                </div>
                <div class="g-2-card" id="cont-eps-22">
                    <div class="g-2-c-cover" id="eps-22"></div>
                    <div class="g-2-c-i">
                        <img src="./images/thumbnail-eps-22.jpg" alt="Youtube video thumbnail">
                    </div>
                    <div class="g-2-c-t">
                        <p class="g-2-c-t-title">Journey to HX50 | Episode 22: It’s all in the details</p>
                        <p class="g-2-c-t-date">1 years ago</p>
                    </div>
                </div>
                <div class="g-2-card" id="cont-eps-23">
                    <div class="g-2-c-cover" id="eps-23"></div>
                    <div class="g-2-c-i">
                        <img src="./images/thumbnail-eps-23.jpg" alt="Youtube video thumbnail">
                    </div>
                    <div class="g-2-c-t">
                        <p class="g-2-c-t-title">Journey to HX50 | Episode 23: Our third airframe revealed</p>
                        <p class="g-2-c-t-date">Few months ago</p>
                    </div>
                </div>
                <div class="g-2-card" id="cont-eps-24">
                    <div class="g-2-c-cover" id="eps-24"></div>
                    <div class="g-2-c-i">
                        <img src="./images/thumbnail-eps-24.jpg" alt="Youtube video thumbnail">
                    </div>
                    <div class="g-2-c-t">
                        <p class="g-2-c-t-title">Journey to HX50 | Episode 24: Achieving perfection on the HX50 main rotor gearbox</p>
                        <p class="g-2-c-t-date">Few months ago</p>
                    </div>
                </div>
                <div class="g-2-card" id="cont-eps-25">
                    <div class="g-2-c-cover" id="eps-25"></div>
                    <div class="g-2-c-i">
                        <img src="./images/thumbnail-eps-25.jpg" alt="Youtube video thumbnail">
                    </div>
                    <div class="g-2-c-t">
                        <p class="g-2-c-t-title">Journey to HX50 | Episode 25: Carbon fibre revolutionises light helicopter design</p>
                        <p class="g-2-c-t-date">Few months ago</p>
                    </div>
                </div>
                <div class="g-2-card" id="cont-eps-26">
                    <div class="g-2-c-cover" id="eps-26"></div>
                    <div class="g-2-c-i">
                        <img src="./images/thumbnail-eps-26.jpg" alt="Youtube video thumbnail">
                    </div>
                    <div class="g-2-c-t">
                        <p class="g-2-c-t-title">Journey to HX50 | Episode 26: Airframe 4 - The next big stage in development</p>
                        <p class="g-2-c-t-date">Few months ago</p>
                    </div>
                </div>
                <div class="g-2-card" id="cont-eps-27">
                    <div class="g-2-c-cover" id="eps-27"></div>
                    <div class="g-2-c-i">
                        <img src="./images/thumbnail-eps-27.jpg" alt="Youtube video thumbnail">
                    </div>
                    <div class="g-2-c-t">
                        <p class="g-2-c-t-title">Journey to HX50 | Episode 27: Heat Treating and Shot Peening for Durable Gears</p>
                        <p class="g-2-c-t-date">Few months ago</p>
                    </div>
                </div>
                <div class="g-2-card" id="cont-eps-28">
                    <div class="g-2-c-cover" id="eps-28"></div>
                    <div class="g-2-c-i">
                        <img src="./images/thumbnail-eps-28.jpg" alt="Youtube video thumbnail">
                    </div>
                    <div class="g-2-c-t">
                        <p class="g-2-c-t-title">Journey to HX50 | Episode 28: Unboxing Our New Hexagon Leitz CMM Machine</p>
                        <p class="g-2-c-t-date">Few months ago</p>
                    </div>
                </div>
                <div class="g-2-card" id="cont-eps-29">
                    <div class="g-2-c-cover" id="eps-29"></div>
                    <div class="g-2-c-i">
                        <img src="./images/thumbnail-eps-29.jpg" alt="Youtube video thumbnail">
                    </div>
                    <div class="g-2-c-t">
                        <p class="g-2-c-t-title">Journey to HX50 | Episode 29: Unveiling the tailboom</p>
                        <p class="g-2-c-t-date">Few months ago</p>
                    </div>
                </div>
                <div class="g-2-card" id="cont-eps-30">
                    <div class="g-2-c-cover" id="eps-30"></div>
                    <div class="g-2-c-i">
                        <img src="./images/thumbnail-eps-30.jpg" alt="Youtube video thumbnail">
                    </div>
                    <div class="g-2-c-t">
                        <p class="g-2-c-t-title">Journey to HX50 | Episode 30: HX50 Doors: Where Ergonomics Meet Luxury</p>
                        <p class="g-2-c-t-date">Few months ago</p>
                    </div>
                </div>
                <div class="g-2-card" id="cont-eps-31">
                    <div class="g-2-c-cover" id="eps-31"></div>
                    <div class="g-2-c-i">
                        <img src="./images/thumbnail-eps-31.jpg" alt="Youtube video thumbnail">
                    </div>
                    <div class="g-2-c-t">
                        <p class="g-2-c-t-title">Journey to HX50 | Episode 31: Building HX50's Strength</p>
                        <p class="g-2-c-t-date">Few months ago</p>
                    </div>
                </div>
                <div class="g-2-card" id="cont-eps-32">
                    <div class="g-2-c-cover" id="eps-32"></div>
                    <div class="g-2-c-i">
                        <img src="./images/thumbnail-eps-32.jpg" alt="Youtube video thumbnail">
                    </div>
                    <div class="g-2-c-t">
                        <p class="g-2-c-t-title">Journey to HX50 | Episode 32: Elevating Efficiency - Inside the HX50 Power System</p>
                        <p class="g-2-c-t-date">Few months ago</p>
                    </div>
                </div>
                <div class="g-2-card" id="cont-eps-33">
                    <div class="g-2-c-cover" id="eps-33"></div>
                    <div class="g-2-c-i">
                        <img src="./images/thumbnail-eps-33.jpg" alt="Youtube video thumbnail">
                    </div>
                    <div class="g-2-c-t">
                        <p class="g-2-c-t-title">Journey to HX50 | Episode 33: Casting vs. Machining</p>
                        <p class="g-2-c-t-date">Few months ago</p>
                    </div>
                </div>
                <div class="g-2-card" id="cont-eps-34">
                    <div class="g-2-c-cover" id="eps-34"></div>
                    <div class="g-2-c-i">
                        <img src="./images/thumbnail-eps-34.jpg" alt="Youtube video thumbnail">
                    </div>
                    <div class="g-2-c-t">
                        <p class="g-2-c-t-title">Journey to HX50 | Episode 34: Building the Main Rotor System</p>
                        <p class="g-2-c-t-date">Few months ago</p>
                    </div>
                </div>
                <div class="g-2-card" id="cont-eps-35">
                    <div class="g-2-c-cover" id="eps-35"></div>
                    <div class="g-2-c-i">
                        <img src="./images/thumbnail-eps-35.jpg" alt="Youtube video thumbnail">
                    </div>
                    <div class="g-2-c-t">
                        <p class="g-2-c-t-title">Episode 35: Revolutionising Gear Production</p>
                        <p class="g-2-c-t-date">Few months ago</p>
                    </div>
                </div>
            </div>
            <div class="d-7-cont">
                <div class="d-7">
                    <h5>
                        <svg width="20px" height="20px" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill="#ffffff" fill-rule="evenodd" d="M10 3a7 7 0 100 14 7 7 0 000-14zm-9 7a9 9 0 1118 0 9 9 0 01-18 0zm10.01 4a1 1 0 01-1 1H10a1 1 0 110-2h.01a1 1 0 011 1zM11 6a1 1 0 10-2 0v5a1 1 0 102 0V6z"></path> </g></svg>
                        Disclaimer
                    </h5>
                    <p>I am an early investor in Hill Helicopters. I do not work for them or represent them in any capacity.</p>
                    <p>I am a private investor who owns the serial/hall numbers mentioned on this website. If you purchase any of these numbers, you will pay me the initial deposit instead of Hill Helicopters, and you will take over my place in the production queue.</p>
                    <p>The remaining balance will be due several months before the helicopter is ready and payable to Hill Helicopters. By purchasing my spot in line, you can save yourself a year or more of waiting time.</p>
                    <p>As of December 1, 2023, they are very close to selling serial/hill number 1000. Once they are fully operational, which may not be until 2025, Hill Helicopters claims they will be producing approximately 500 helicopters per year.</p>
                </div>
            </div>
        </main>
        <footer>
            <div class="footer-cont">
                <div class="f-1 f-1-hid">
                    <h3>Jump to the front of the line</h3>
                    <h3>for your hill HX50</h3>
                    <p>Offering HX50 hall number: 222, 223,224</p>
                    <p>Also available commercial HC50 hall number: 006</p>
                </div>
                <div class="f-1">
                    <h3>Secure your place in production line!</h3>
                    <p>+1 (416) 992 - 7298</p>
                    <p>jumpthelinehillhelicopters@gmail.com</p>
                    <a href="/contact">Get in touch&nbsp;&#8680;</a>
                </div>
            </div>
            <p class="credential">Designed and developed by 
                <a class="credential-link" href="https://webbuildservice.com/" target="_blank">Web Build Service</a>
            </p>
        </footer>
    </body>
</html>
