<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Josh Nguyen">
        <meta name="keywords" content="hillhelicopters, hillhelicopter, hill-helicopters, hill-helicopter, helicopters, helicopter, heli, air">
        <meta name="description" content="Hill Helicopters aims to disrupt the aviation market with a revolutionary new helicopter. Experience Jason Hill's vision of luxury, personal flight with Hill Helicopters' HX50. Pre Order yours now. Available worldwide. Features: 500 shp Horsepower, 700 nm Max Range.">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Hill Helicopters">
        <meta property="og:description" content="Hill Helicopters aims to disrupt the aviation market with a revolutionary new helicopter. Experience Jason Hill's vision of luxury, personal flight with Hill Helicopters' HX50. Pre Order yours now. Available worldwide. Features: 500 shp Horsepower, 700 nm Max Range.">
        <!-- Note to change this route -->
        <!-- <meta property="og:image" content="https://joshnguyentoronto.com/images/profile_camp_3.png">
        <meta property="og:url" content="https://joshnguyentoronto.com/">
        <meta property="og:locale" content="en_CA">
        <meta property="og:site_name" content="joshnguyentoronto.com">
        <meta property="og:image:width" content="600">
        <meta property="og:image:height" content="479">
        <meta property="og:image:type" content="image/png">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@big_boys_with_cool_toys">
        <meta name="twitter:title" content="">
        <meta name="twitter:description" content="View Josh's personal portfolio website where you can find Josh's information, background, skills, resume, Josh's projects, and more.">
        <meta name="twitter:image" content="https://joshnguyentoronto.com/images/profile_camp_3.png">
        <meta name="twitter:url" content="https://joshnguyentoronto.com/"> -->
        <title>Luxury Private Helicopter - HILL HELICOPTERS</title>
        <!-- <link rel="canonical" href="https://joshnguyentoronto.com/"> -->
        <!-- <link rel="icon" href="../images/hilheli-icon.png"> -->
        <link rel="stylesheet" href="./gallery.css">
        <script defer src="../gallery.js"></script>
    </head>


    <body>
        <header>
            <div class="h-m">
                <a href="/">Home</a>
                <a id="active" href="/gallery">Gallery</a>
            </div>
        </header>

        <main>
            <div class="g-1" id="g-1-toggle">
            <!-- <div class="g-1 g-1-active"> -->
                <h1>Gallery</h1>
                <div class="g-1-m" id="g-1-m-toggle">
                <!-- <div class="g-1-m g-1-m-active"> -->
                    <div class="g-1-m-i">
                        <iframe id="g-1-m-i-vid" src="https://www.youtube.com/embed/5pcS2UG1dlY?start=0&modestbranding=1&rel=0&cc_load_policy=1&iv_load_policy=3" width="100%" height="100%" frameborder="0"></iframe>
                    </div>
                    <div class="g-1-m-t">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, consequuntur.</p>
                    </div>
                </div>
            </div>
            <div class="g-2">
                <div class="g-2-card">
                    <div class="g-2-c-cover" id="vid-1"></div>
                    <div class="g-2-c-i">
                        <img src="./images/thumbnail_1.jpg" alt="Youtube video thumbnail">
                    </div>
                    <div class="g-2-c-t">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates, aut.</p>
                    </div>
                </div>
                <div class="g-2-card">
                    <div class="g-2-c-cover" id="vid-2"></div>
                    <div class="g-2-c-i">
                        <img src="./images/thumbnail_2.jpg" alt="Youtube video thumbnail">
                    </div>
                    <div class="g-2-c-t">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates, aut.</p>
                    </div>
                </div>
                <div class="g-2-card">
                    <div class="g-2-c-cover" id="vid-3"></div>
                    <div class="g-2-c-i">
                        <img src="./images/thumbnail_3.jpg" alt="Youtube video thumbnail">
                    </div>
                    <div class="g-2-c-t">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates, aut.</p>
                    </div>
                </div>
                <div class="g-2-card">
                    <div class="g-2-c-cover" id="vid-4"></div>
                    <div class="g-2-c-i">
                        <img src="./images/thumbnail_4.jpg" alt="Youtube video thumbnail">
                    </div>
                    <div class="g-2-c-t">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates, aut.</p>
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <p>Contact me today to learn more about the Hill Helicopters HX50 and secure your place in line!</p>
                <p>Alex</p>
                <p>+1 (647) 321 - 1965</p>
                <p>alexemail@gmail.com</p>
        </footer>
    </body>
</html>