<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Josh Nguyen">
        <meta name="keywords" content="hillhelicopters, hillhelicopter, hill-helicopters, hill-helicopter, helicopters, helicopter, heli, air">
        <meta name="description" content="Hill Helicopters aims to disrupt the aviation market with a revolutionary new helicopter. Experience Jason Hill's vision of luxury, personal flight with Hill Helicopters' HX50. Pre Order yours now. Available worldwide. Features: 500 shp Horsepower, 700 nm Max Range.">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Hill Helicopters">
        <meta property="og:description" content="Hill Helicopters aims to disrupt the aviation market with a revolutionary new helicopter. Experience Jason Hill's vision of luxury, personal flight with Hill Helicopters' HX50. Pre Order yours now. Available worldwide. Features: 500 shp Horsepower, 700 nm Max Range.">
        <!-- Note to change this route -->
        <!-- <meta property="og:image" content="https://joshnguyentoronto.com/images/profile_camp_3.png">
        <meta property="og:url" content="https://joshnguyentoronto.com/">
        <meta property="og:locale" content="en_CA">
        <meta property="og:site_name" content="joshnguyentoronto.com">
        <meta property="og:image:width" content="600">
        <meta property="og:image:height" content="479">
        <meta property="og:image:type" content="image/png">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@big_boys_with_cool_toys">
        <meta name="twitter:title" content="">
        <meta name="twitter:description" content="View Josh's personal portfolio website where you can find Josh's information, background, skills, resume, Josh's projects, and more.">
        <meta name="twitter:image" content="https://joshnguyentoronto.com/images/profile_camp_3.png">
        <meta name="twitter:url" content="https://joshnguyentoronto.com/"> -->
        <title>Luxury Private Helicopter - HILL HELICOPTERS</title>
        <!-- <link rel="canonical" href="https://joshnguyentoronto.com/"> -->
        <!-- <link rel="icon" href="../images/hilheli-icon.png"> -->
        <link rel="stylesheet" href="./main.css">
        <script defer src="../main.js"></script>
    </head>


    <body>
        <header>
            <div class="h-m">
                <a id="active" href="/">Home</a>
                <a href="/gallery">Gallery</a>
            </div>
        </header>

        <main>
            <div class="d-1">
                <div class="d-1-main">
                    <p class="">Hill HX50</p>
                    <h1>World first private helicopter</h1>
                    <h3>Reserve your spot now with:</h3>
                    <h3>Alex</h3>
                    <h3>+1 (647) 321 - 1965</h3>
                    <h3>alexemail@gmail.com</h3>
                </div>
                <div class="d-1-stat">
                    <div class="d-1-stat-e">
                        <h5>500 shp</h5>
                        <p>HORSE POWER</p>
                    </div>
                    <div class="d-1-stat-e">
                        <h5>140 kts</h3>
                        <p>CRUISE SPEED</p>
                    </div>
                    <div class="d-1-stat-e">
                        <h5>700 nm</h3>
                        <p>MAX RANGE</p>
                    </div>
                    <div class="d-1-stat-e">
                        <h5>1760 lbs</h3>
                        <p>PAYLOAD</p>
                    </div>
                    <div class="d-1-stat-e">
                        <h5>$595,000</h3>
                        <p>BASE PRICE</p>
                    </div>
                </div>
            </div>

            <div class="d-2">
                <h3>If you’re interested in purchasing a Hill Helicopters HX50 private luxury helicopter and getting a jump on the line, please contact me at the phone number provided. This will ensure that you get to the front of the line in the production order.</h3>
            </div>

            <div class="d-3">
                <h1>Customize your dream helicopter</h1>
                <div class="d-3-1">
                    <h3 class="d-3-1-h3">Choose your paint</h3>
                    <div class="d-3-1-m">
                        <div class="d-3-1-m-i">
                            <img class="d-3-1-m-i-i" id="paint-img" src="./images/outside_1_1.png" alt="helicopter image">
                        </div>
                        <div class="d-3-1-m-c">
                            <button class="d-3-1-m-c-div" onclick="changePaint(id)" id="ext-1">
                                <div class="d-3-1-m-c-1"></div>&nbsp;<p>Supermarine white</p>
                            </button>
                            <button class="d-3-1-m-c-div" onclick="changePaint(id)" id="ext-2">
                                <div class="d-3-1-m-c-2"></div>&nbsp;<p>Endeavour Red</p>
                            </button>
                            <button class="d-3-1-m-c-div" onclick="changePaint(id)" id="ext-3">
                                <div class="d-3-1-m-c-3"></div>&nbsp;<p>Forged Orange</p>
                            </button>
                            <button class="d-3-1-m-c-div" onclick="changePaint(id)" id="ext-4">
                                <div class="d-3-1-m-c-4"></div>&nbsp;<p>British Racing Green</p>
                            </button>
                            <button class="d-3-1-m-c-div" onclick="changePaint(id)" id="ext-5">
                                <div class="d-3-1-m-c-5"></div>&nbsp;<p>Royal Blue</p>
                            </button>
                            <button class="d-3-1-m-c-div" onclick="changePaint(id)" id="ext-6">
                                <div class="d-3-1-m-c-6"></div>&nbsp;<p>Mercury</p>
                            </button>
                            <button class="d-3-1-m-c-div" onclick="changePaint(id)"  id="ext-7">
                                <div class="d-3-1-m-c-7"></div>&nbsp;<p>Graphite</p>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="d-3-2">
                    <div class="d-3-2-i">
                        <div class="d-3-2-i-i">
                            <img id="int-img-main" src="./images/interior_1_1.jpg" alt="helicopter interior main image">
                        </div>
                        <div class="d-3-2-i-o">
                            <div class="d-3-2-i-o-e">
                                <img id="int-img-1" onclick="changeInt(src)" src="./images/interior_1_1.jpg" alt="helicopter interior selection image">
                            </div>
                            <div class="d-3-2-i-o-e">
                                <img id="int-img-2" onclick="changeInt(src)" src="./images/interior_1_2.jpg" alt="helicopter interior selection image">
                            </div>
                            <div class="d-3-2-i-o-e">
                                <img id="int-img-3" onclick="changeInt(src)" src="./images/interior_1_3.jpg" alt="helicopter interior selection image">
                            </div>
                        </div>
                    </div>
                    <div class="d-3-2-m">
                        <h3>Choose your interior</h3>
                        <p>Sophisticated, subtle, opulent: luxury leather seats combined with your choice of fine wood finishes.</p>
                        <p id="color-name">Color: Sky white</p>
                        <div class="d-3-2-m-c">
                            <div id="int-color-1" onclick="changeIntColor(id)" class="d-3-2-m-c-each d-3-2-m-c-1"></div>
                            <div id="int-color-2" onclick="changeIntColor(id)" class="d-3-2-m-c-each d-3-2-m-c-2"></div>
                            <div id="int-color-3" onclick="changeIntColor(id)" class="d-3-2-m-c-each d-3-2-m-c-3"></div>
                            <div id="int-color-4" onclick="changeIntColor(id)" class="d-3-2-m-c-each d-3-2-m-c-4"></div>
                            <div id="int-color-5" onclick="changeIntColor(id)" class="d-3-2-m-c-each d-3-2-m-c-5"></div>
                            <div id="int-color-6" onclick="changeIntColor(id)" class="d-3-2-m-c-each d-3-2-m-c-6"></div>
                            <div id="int-color-7" onclick="changeIntColor(id)" class="d-3-2-m-c-each d-3-2-m-c-7"></div>
                            <div id="int-color-8" onclick="changeIntColor(id)" class="d-3-2-m-c-each d-3-2-m-c-8"></div>
                            <div id="int-color-9" onclick="changeIntColor(id)" class="d-3-2-m-c-each d-3-2-m-c-9"></div>
                            <div id="int-color-10" onclick="changeIntColor(id)" class="d-3-2-m-c-each d-3-2-m-c-10"></div>
                        </div>
                    </div>
                </div>

                <div class="d-3-3">
                    <h3>Choose legging</h3>
                    <div class="d-3-3-m">
                        <div class="d-3-3-m-e">
                            <p>skid</p>
                            <img src="./images/skid.jpg" alt="helicopter with skid landing gear">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam, praesentium tenetur accusamus cumque pos</p>
                        </div>
                        <div class="d-3-3-m-e">
                            <p>wheel</p>
                            <img src="./images/wheel.jpg" alt="helicopter with wheel landing gear">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam, praesentium tenetur accusamus cumque pos</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-4">
                <div class="d-4-v">
                    <img src="./images/wheel.jpg" alt="helicopter with wheel landing gear">
                </div>
                <div class="d-4-m">
                    <h1>Explore our process</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias animi accusantium quia sunt dicta deserunt consequuntur. Quaerat, architecto, aspernatur.</p>
                    <a class="d-4-m-b" href="/gallery">Explore more</a>
                </div>
            </div>

            <div class="d-5">
                <div class="d-5-1">
                    <div class="d-5-1-e"><p>INTEGRATED PILOT INTERFACE</p></div>
                    <div class="d-5-1-e"><p>CLASS LEADING ERGONOMICS</p></div>
                    <div class="d-5-1-e"><p>NEXT GENERATION VFR HELICOPTER FLYING</p></div>
                    <div class="d-5-1-e"><p>FULL IPAD INTEGRATION</p></div>
                    <div class="d-5-1-e"><p>INTELLIGENT PILOT SUPPORT</p></div>
                </div>
                <div class="d-5-2">
                    <div class="d-5-2-m">
                        <h1>Digital cockpit (HDC)</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates labore explicabo maiores! Corporis sequi sed asperiores voluptate, ea velit! Fugiat voluptatem ipsam autem dicta odit. Aut, architecto. Quidem, perferendis quis?</p>
                    </div>
                    <div class="d-5-2-i">
                        <img src="./images/interior_1_1.jpg" alt="Digital Cockpit image">
                    </div>
                </div>
                <div class="d-5-2">
                    <div class="d-5-2-m">
                        <h1>VFR something (VFR)</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates labore explicabo maiores! Corporis sequi sed asperiores voluptate, ea velit! Fugiat voluptatem ipsam autem dicta odit. Aut, architecto. Quidem, perferendis quis?</p>
                    </div>
                    <div class="d-5-2-i">
                        <img src="./images/interior_1_1.jpg" alt="Digital Cockpit image">
                    </div>
                </div>
            </div>

            <div class="d-6">
                <h1>DIMENSIONS</h1>
                <ul class="d-6-ul">
                    <li onclick="changeDimmension(id)" id="dimmension-side">SIDE</li>
                    <li onclick="changeDimmension(id)" id="dimmension-A">TOP A</li>
                    <li onclick="changeDimmension(id)" id="dimmension-B">TOP B</li>
                    <li onclick="changeDimmension(id)" id="dimmension-C">TOP C</li>
                    <li onclick="changeDimmension(id)" id="dimmension-front">FRONT</li>
                    <li onclick="changeDimmension(id)" id="dimmension-luggage">LUGGAGE</li>
                </ul>
                <div class="d-6-m">
                    <div class="d-6-m-d">
                        <div class="d-6-m-d-e">
                            <div class="d-6-m-d-e-1">
                                <p><span>A</span>&nbsp;<span>Length</span></p>
                            </div>
                            <div class="d-6-m-d-e-2">
                                <p>434.2"</p>
                                <p>11,423 mm</p>
                            </div>
                        </div>
                        <div class="d-6-m-d-e">
                            <div class="d-6-m-d-e-1">
                                <p><span>B</span>&nbsp;<span>Body Length</span></p>
                            </div>
                            <div class="d-6-m-d-e-2">
                                <p>434.2"</p>
                                <p>11,423 mm</p>
                            </div>
                        </div>
                        <div class="d-6-m-d-e">
                            <div class="d-6-m-d-e-1">
                                <p><span>C</span>&nbsp;<span>Height</span></p>
                            </div>
                            <div class="d-6-m-d-e-2">
                                <p>434.2"</p>
                                <p>11,423 mm</p>
                            </div>
                        </div>
                    </div>
                    <div class="d-6-m-i">
                        <img id="dim-img" src="./images/dimmension-side.png" alt="sketch of helicopter dimension">
                    </div>
                </div>
            </div>

            <div class="d-7">
                <h1>If you're interested in purchasing a Hill Helicopters HX50 private luxury helicopter and getting a jump on the line please contact me at +1 (647) 321 - 1965 </h1>
                <h2>This will ensure that you get the the front of the line in the production order.</h2>
                <p>I am offering serial number HX50</p>
                <ul>
                    <li>Hall Number 222</li>
                    <li>Hall Number 223</li>
                    <li>Hall Number 224</li>
                </ul>
                <h2>If you're interested in HC50, a commercial rated version, please contact me to discuss about serial number 005</h2>
            </div>

            <div class="d-8">
                <p>Contact me today to learn more about the Hill Helicopters HX50 and secure your place in line!</p>
                <p>Alex</p>
                <p>+1 (647) 321 - 1965</p>
                <p>alexemail@gmail.com</p>
            </div>
        </main>
    </body>
</html>