<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Hill Helicopters">
        <meta property="og:description" content="Jump to the front of the production line for your hill HX50 and get your HX50 as early as 2025">
        <meta name="title" content="Jump the line for Hills helicopter">
        <meta name="description" content="Jump to the front of the production line for your hill HX50 and get your HX50 as early as 2025">
        <meta name="keywords" content="hx50, hill, hills, heli, hc50, hillhelicopters, hillhelicopter, hill-helicopters, hill-helicopter, helicopters, helicopter, air">
        <meta name="robots" content="index, follow">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="language" content="English">
        <meta name="revisit-after" content="2 days">
        <meta name="author" content="Web Build Service">
        <meta property="og:locale" content="en_CA">
        <meta property="og:site_name" content="jump the line HX50">
        <meta property="og:url" content="https://jumpthelinehillhelicopters.com">
        <meta property="og:image" content="https://jumpthelinehillhelicopters.com/images/background1.jpg">
        <meta property="og:image:width" content="739">
        <meta property="og:image:height" content="628">
        <meta property="og:image:type" content="image/jpg">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@big_boys_with_cool_toys">
        <meta name="twitter:title" content="Jump the production line and order your HX50 helicopter today">
        <meta name="twitter:description" content="Why order directly and wait till 2026 to get your HX50, when you can jump the line and get it as early as 2025.">
        <meta name="twitter:image" content="https://jumpthelinehillhelicopters.com/images/twitter-img.jpg">
        <meta name="twitter:url" content="https://jumpthelinehillhelicopters.com">
        <link rel="canonical" href="https://jumpthelinehillhelicopters.com"/>
        <link rel="icon" href="../images/hill-logo-small.png">
        <title>Luxury Private Helicopter HX50</title>
        <link rel="stylesheet" href="./home.css">
        <script defer src="../home.js"></script>
    </head>

    <body>
        <header>
            <div class="h-cont">
                <div class="h-i">
                    <a href="/"><img class="h-i-img" src="./images/hill-logo.png" alt="Logo image"></a>
                </div>
                <div class="h-m">
                    <a id="active" href="/">Home</a>
                    <a href="/gallery">Gallery</a>
                    <a id="h-contact" href="/contact">Contact</a>
                </div>
            </div>
        </header>

        <main>
            <div class="d-1-cont">
                <div class="d-1">
                    <div class="d-1-main">
                        <p class="d-1-main-small">World first luxury private helicopter HX50</p>
                        <h1>Jump to the front of</h1>
                        <h1>the line for your hill HX50</h1>
                        <p class="d-1-main-small-1">Offering HX50 hall number: 222, 223,224</p>
                        <p class="d-1-main-small-1">Also available commercial HC50 hall number: 006</p>
                        <a id="d-1-main-link" href="/contact">Contact&nbsp;&#8680;</a>
                    </div>
                    <div class="d-1-stat d-1-stat-hid">
                        <div class="d-1-stat-e">
                            <h5>500 shp</h5>
                            <p>HORSE POWER</p>
                        </div>
                        <div class="d-1-stat-e">
                            <h5>140 kts</h3>
                            <p>CRUISE SPEED</p>
                        </div>
                        <div class="d-1-stat-e">
                            <h5>700 nm</h3>
                            <p>MAX RANGE</p>
                        </div>
                        <div class="d-1-stat-e">
                            <h5>1760 lbs</h3>
                            <p>PAYLOAD</p>
                        </div>
                        <div class="d-1-stat-e">
                            <h5>$595,000</h3>
                            <p>BASE PRICE</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-1-alt">
                <div class="d-1-alt-main">
                    <p class="d-1-main-small">World first luxury private helicopter HX50</p>
                    <h1>Jump to the front of</h1>
                    <h1>the line for your hill HX50</h1>
                    <p class="d-1-main-small-1">Offering HX50 hall number: 222, 223,224</p>
                    <p class="d-1-main-small-1">Also available commercial HC50 hall number: 006</p>
                    <a id="d-1-main-link" href="/contact">Contact&nbsp;&#8680;</a>
                </div>
                <div class="d-1-stat">
                    <div class="d-1-stat-e">
                        <h5>500 shp</h5>
                        <p>HORSE POWER</p>
                    </div>
                    <div class="d-1-stat-e">
                        <h5>140 kts</h3>
                        <p>CRUISE SPEED</p>
                    </div>
                    <div class="d-1-stat-e">
                        <h5>700 nm</h3>
                        <p>MAX RANGE</p>
                    </div>
                    <div class="d-1-stat-e">
                        <h5>1760 lbs</h3>
                        <p>PAYLOAD</p>
                    </div>
                    <div class="d-1-stat-e">
                        <h5>$595,000</h3>
                        <p>BASE PRICE</p>
                    </div>
                </div>
            </div>

            <div class="d-8-cont">
                <div class="d-8">
                    <div class="d-8-m">
                        <h2>Unveiling the future of aviation</h2>
                        <p>Revealing amazing hill helicopter prototypes that are almost ready to take off. </p>
                        <p>Join us for an exciting peek into the world of aerial innovation and be one of the first to experience the next big thing in helicopter tech.</p>
                    </div>
                    <div class="d-8-v">
                        <iframe id="d-8-v-video" src="https://www.youtube.com/embed/zPtgxj1Yu-s?start=0&loop=1&mute=1&modestbranding=1&rel=0&iv_load_policy=3&disablekb=1&fs=0&color=white" width="" height="0" allow="autoplay" frameborder="0" title='YouTube video player'></iframe>
                    </div>
                </div>
            </div>

            <div class="d-2-cont">
                <div class="d-2">
                    <h4>If you want to purchase the Hill HX50 private luxury helicopter and pre-order directly through Hill Helicopters, the estimated delivery timeline can extend to late 2026. </h4>
                    <h4>However, pre-ordering through our services will allow you to secure your helicopter as early as spring 2025, gaining a significant head start in line. For priority access to this advanced timeline, please contact me to guarantee your placement at the forefront of the production order queue.</h4>
                    <a href="/contact">Get in touch&nbsp;&#8680;</a>
                </div>
            </div>

            <div class="d-7-cont">
                <div class="d-7">
                    <h5>
                        <svg width="20px" height="20px" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill="#ffffff" fill-rule="evenodd" d="M10 3a7 7 0 100 14 7 7 0 000-14zm-9 7a9 9 0 1118 0 9 9 0 01-18 0zm10.01 4a1 1 0 01-1 1H10a1 1 0 110-2h.01a1 1 0 011 1zM11 6a1 1 0 10-2 0v5a1 1 0 102 0V6z"></path> </g></svg>
                        Disclaimer
                    </h5>
                    <p>I am an early investor in Hill Helicopters. I do not work for them or represent them in any capacity.</p>
                    <p>I am a private investor who owns the serial/hall numbers mentioned on this website. If you purchase any of these numbers, you will pay me the initial deposit instead of Hill Helicopters, and you will take over my place in the production queue.</p>
                    <p>The remaining balance will be due several months before the helicopter is ready and payable to Hill Helicopters. By purchasing my spot in line, you can save yourself a year or more of waiting time.</p>
                    <p>As of December 1, 2023, they are very close to selling serial/hill number 800. Once they are fully operational, which may not be until 2025, Hill Helicopters claims they will be producing approximately 500 helicopters per year.</p>
                </div>
            </div>

            <div class="d-3">
                <h2>Choose your dream helicopter</h2>
                <div class="d-3-1">
                    <div class="d-3-1-m">
                        <div class="d-3-1-m-i">
                            <h3 class="d-3-1-h3">Select paint</h3>
                            <img class="d-3-1-m-i-i" id="paint-img" src="./images/outside_1_1.png" alt="helicopter image">
                        </div>
                        <div class="d-3-1-m-c">
                            <button class="d-3-1-m-c-div d-3-1-m-c-div-active" onclick="changePaint(id)" id="ext-1">
                                <div class="d-3-1-m-c-1"></div>&nbsp;&nbsp;&nbsp;<p>Supermarine white</p>
                            </button>
                            <button class="d-3-1-m-c-div" onclick="changePaint(id)" id="ext-2">
                                <div class="d-3-1-m-c-2"></div>&nbsp;&nbsp;&nbsp;<p>Endeavour Red</p>
                            </button>
                            <button class="d-3-1-m-c-div" onclick="changePaint(id)" id="ext-3">
                                <div class="d-3-1-m-c-3"></div>&nbsp;&nbsp;&nbsp;<p>Forged Orange</p>
                            </button>
                            <button class="d-3-1-m-c-div" onclick="changePaint(id)" id="ext-4">
                                <div class="d-3-1-m-c-4"></div>&nbsp;&nbsp;&nbsp;<p>British Racing Green</p>
                            </button>
                            <button class="d-3-1-m-c-div" onclick="changePaint(id)" id="ext-5">
                                <div class="d-3-1-m-c-5"></div>&nbsp;&nbsp;&nbsp;<p>Royal Blue</p>
                            </button>
                            <button class="d-3-1-m-c-div" onclick="changePaint(id)" id="ext-6">
                                <div class="d-3-1-m-c-6"></div>&nbsp;&nbsp;&nbsp;<p>Mercury</p>
                            </button>
                            <button class="d-3-1-m-c-div" onclick="changePaint(id)"  id="ext-7">
                                <div class="d-3-1-m-c-7"></div>&nbsp;&nbsp;&nbsp;<p>Graphite</p>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="d-3-2">
                    <div class="d-3-2-i">
                        <div class="d-3-2-i-i">
                            <img id="int-img-main" src="./images/interior_1_1.jpg" alt="helicopter interior main image">
                        </div>
                        <div class="d-3-2-i-o">
                            <div class="d-3-2-i-o-e d-3-2-i-o-e-active">
                                <img id="int-img-1" onclick="changeInt(src); changeIntActive(id)" src="./images/interior_1_1.jpg" alt="helicopter interior selection image">
                            </div>
                            <div class="d-3-2-i-o-e">
                                <img id="int-img-2" onclick="changeInt(src); changeIntActive(id)" src="./images/interior_1_2.jpg" alt="helicopter interior selection image">
                            </div>
                            <div class="d-3-2-i-o-e">
                                <img id="int-img-3" onclick="changeInt(src); changeIntActive(id)" src="./images/interior_1_3.jpg" alt="helicopter interior selection image">
                            </div>
                        </div>
                    </div>
                    <div class="d-3-2-m">
                        <h3>Customize your interior</h3>
                        <p>Experience unparalleled luxury with our exclusive interior customization offer. From opulent leather seats to a choice of fine wood finishes, each detail is tailored to your taste.</p>
                        <p id="color-name">Color: Sky white</p>
                        <div class="d-3-2-m-c">
                            <div class="d-3-2-m-c-each-cont d-3-2-m-c-each-cont-active"><div id="int-color-1" onclick="changeIntColor(id)" class="d-3-2-m-c-each d-3-2-m-c-1"></div></div>
                            <div class="d-3-2-m-c-each-cont"><div id="int-color-2" onclick="changeIntColor(id)" class="d-3-2-m-c-each d-3-2-m-c-2"></div></div>
                            <div class="d-3-2-m-c-each-cont"><div id="int-color-3" onclick="changeIntColor(id)" class="d-3-2-m-c-each d-3-2-m-c-3"></div></div>
                            <div class="d-3-2-m-c-each-cont"><div id="int-color-4" onclick="changeIntColor(id)" class="d-3-2-m-c-each d-3-2-m-c-4"></div></div>
                            <div class="d-3-2-m-c-each-cont"><div id="int-color-5" onclick="changeIntColor(id)" class="d-3-2-m-c-each d-3-2-m-c-5"></div></div>
                            <div class="d-3-2-m-c-each-cont"><div id="int-color-6" onclick="changeIntColor(id)" class="d-3-2-m-c-each d-3-2-m-c-6"></div></div>
                            <div class="d-3-2-m-c-each-cont"><div id="int-color-7" onclick="changeIntColor(id)" class="d-3-2-m-c-each d-3-2-m-c-7"></div></div>
                            <div class="d-3-2-m-c-each-cont"><div id="int-color-8" onclick="changeIntColor(id)" class="d-3-2-m-c-each d-3-2-m-c-8"></div></div>
                            <div class="d-3-2-m-c-each-cont"><div id="int-color-9" onclick="changeIntColor(id)" class="d-3-2-m-c-each d-3-2-m-c-9"></div></div>
                            <div class="d-3-2-m-c-each-cont"><div id="int-color-10" onclick="changeIntColor(id)" class="d-3-2-m-c-each d-3-2-m-c-10"></div></div>
                        </div>
                    </div>
                </div>

                <div class="d-3-3">
                    <h3>Select landing gear</h3>
                    <div class="d-3-3-m">
                        <div class="d-3-3-m-e">
                            <img src="./images/skid.jpg" alt="helicopter with skid landing gear">
                            <p class="d-3-3-m-e-title">Flexible skid</p>
                            <p class="d-3-3-m-e-text">A fixed skid system enables easier landing on rugged terrain, such as snow, mud, and loose gravel.</p>
                        </div>
                        <div class="d-3-3-m-e">
                            <img src="./images/wheel.jpg" alt="helicopter with wheel landing gear">
                            <p class="d-3-3-m-e-title">Convenient wheel</p>
                            <p class="d-3-3-m-e-text">Retractable wheels offer effortless long-distance travel and optimal maneuverability on the ground.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-4-cont">
                <div class="d-4">
                    <div class="d-4-v">
                        <iframe id="d-4-v-video" src="https://www.youtube.com/embed/gLHO7ciJSWI?start=0&loop=1&mute=1&modestbranding=1&rel=0&iv_load_policy=3&disablekb=1&fs=0&color=white" width="" height="0" allow="autoplay" frameborder="0" title='YouTube video player'></iframe>
                    </div>
                    <div class="d-4-m">
                        <h2>Unveiling the creation process</h2>
                        <p>Uncover the story and process behind our helicopters. Immerse yourself in the fusion of technology and artistry that defines each rotor's creation. Join us on this adventure to witness the precision and passion behind elevating air travel.</p>
                        <a class="d-4-m-b" href="/gallery">See our story &nbsp;&#8680;</a>
                    </div>
                </div>
            </div>

            <div class="d-5">
                <h2>Hill HX50 makes flying easier and safer than ever</h2>
                <div class="d-5-2">
                    <div class="d-5-2-m">
                        <h3>The Hill Digital Cockpit (HDC)</h3>
                        <p>HDC makes owning and operating a helicopter as simple, convenient, and intuitive as driving a car, resulting in helicopter flying and ownership that is more engaging, accessible, and safer than ever.</p>
                        <p>With full integration of iPad-based navigation and flight planning apps, intelligent, context-sensitive support, and a clear graphical display of flight information only when needed, it delivers new levels of simplicity and profound workload reduction.</p>
                    </div>
                    <div class="d-5-2-i">
                        <img src="./images/hdc1.jpg" alt="Digital Cockpit image">
                    </div>
                </div>
                <div class="d-5-2">
                    <div class="d-5-2-m">
                        <h3>Intelligent pilot support and workload reduction.</h3>
                        <p>HDC allows profound workload reduction by monitoring the aircraft and delivering information in an entirely context-sensitive manner, providing only the information required by the pilot as needed and alerting pilots to changing or urgent conditions.</p>
                        <p>This allows the 'normal' display presentation of primary flight information to be far cleaner and more straightforward.</p>
                    </div>
                    <div class="d-5-2-i">
                        <img src="./images/hdc2.jpg" alt="Digital Cockpit image">
                    </div>
                </div>
                <div class="d-5-1">
                    <div class="d-5-1-e"><p>INTEGRATED PILOT INTERFACE</p></div>
                    <div class="d-5-1-e"><p>CLASS LEADING ERGONOMICS</p></div>
                    <div class="d-5-1-e"><p>NEXT GENERATION VFR HELICOPTER FLYING</p></div>
                    <div class="d-5-1-e"><p>FULL IPAD INTEGRATION</p></div>
                    <div class="d-5-1-e"><p>INTELLIGENT PILOT SUPPORT</p></div>
                </div>
            </div>

            <div class="d-6-cont">
                <div class="d-6">
                    <h2>DIMENSIONS</h2>
                    <ul class="d-6-ul">
                        <li onclick="changeDimmension(id)" id="dimmension-side" class="d-6-active">SIDE</li>
                        <li onclick="changeDimmension(id)" id="dimmension-A">TOP A</li>
                        <li onclick="changeDimmension(id)" id="dimmension-B">TOP B</li>
                        <li onclick="changeDimmension(id)" id="dimmension-C">TOP C</li>
                        <li onclick="changeDimmension(id)" id="dimmension-front">FRONT</li>
                        <li onclick="changeDimmension(id)" id="dimmension-luggage">LUGGAGE</li>
                    </ul>
                    <div class="d-6-m">
                        <div class="d-6-m-dim">
                            <div class="d-6-m-d d-6-m-d-side dim-act" id="d-6-m-d-id-side">
                                <div class="d-6-m-d-e">
                                    <div class="d-6-m-d-e-1">
                                        <svg class="d-6-m-d-e-1-svg" width="24" height="24" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="15" cy="15" r="15" fill="#D9D9D9"/><path d="M18.3382 19.808H11.6662L10.5622 23H7.03416L13.0582 6.224H16.9702L22.9942 23H19.4422L18.3382 19.808ZM17.4262 17.12L15.0022 10.112L12.5782 17.12H17.4262Z" fill="black"/></svg>
                                        <p class="d-6-m-d-e-1-title">Length</p>
                                    </div>
                                    <div class="d-6-m-d-e-2">
                                        <p>463.4"</p>
                                        <p>11,770 mm</p>
                                    </div>
                                </div>
                                <div class="d-6-m-d-e">
                                    <div class="d-6-m-d-e-1">
                                        <svg class="d-6-m-d-e-1-svg" width="24" height="24" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="15" cy="15" r="15" fill="#D9D9D9"/><path d="M18.4491 14.408C19.3931 14.584 20.1691 15.056 20.7771 15.824C21.3851 16.592 21.6891 17.472 21.6891 18.464C21.6891 19.36 21.4651 20.152 21.0171 20.84C20.5851 21.512 19.9531 22.04 19.1211 22.424C18.2891 22.808 17.3051 23 16.1691 23H8.94506V6.248H15.8571C16.9931 6.248 17.9691 6.432 18.7851 6.8C19.6171 7.168 20.2411 7.68 20.6571 8.336C21.0891 8.992 21.3051 9.736 21.3051 10.568C21.3051 11.544 21.0411 12.36 20.5131 13.016C20.0011 13.672 19.3131 14.136 18.4491 14.408ZM12.3051 13.16H15.3771C16.1771 13.16 16.7931 12.984 17.2251 12.632C17.6571 12.264 17.8731 11.744 17.8731 11.072C17.8731 10.4 17.6571 9.88 17.2251 9.512C16.7931 9.144 16.1771 8.96 15.3771 8.96H12.3051V13.16ZM15.6891 20.264C16.5051 20.264 17.1371 20.072 17.5851 19.688C18.0491 19.304 18.2811 18.76 18.2811 18.056C18.2811 17.336 18.0411 16.776 17.5611 16.376C17.0811 15.96 16.4331 15.752 15.6171 15.752H12.3051V20.264H15.6891Z" fill="black"/></svg>
                                        <p class="d-6-m-d-e-1-title">Body Length</p>
                                    </div>
                                    <div class="d-6-m-d-e-2">
                                        <p>386.6"</p>
                                        <p>9,820 mm</p>
                                    </div>
                                </div>
                                <div class="d-6-m-d-e">
                                    <div class="d-6-m-d-e-1">
                                        <svg class="d-6-m-d-e-1-svg" width="24" height="24" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="15" cy="15" r="15" fill="#D9D9D9"/><path d="M6.62906 14.6C6.62906 12.952 6.99706 11.48 7.73306 10.184C8.48506 8.872 9.50106 7.856 10.7811 7.136C12.0771 6.4 13.5251 6.032 15.1251 6.032C16.9971 6.032 18.6371 6.512 20.0451 7.472C21.4531 8.432 22.4371 9.76 22.9971 11.456H19.1331C18.7491 10.656 18.2051 10.056 17.5011 9.656C16.8131 9.256 16.0131 9.056 15.1011 9.056C14.1251 9.056 13.2531 9.288 12.4851 9.752C11.7331 10.2 11.1411 10.84 10.7091 11.672C10.2931 12.504 10.0851 13.48 10.0851 14.6C10.0851 15.704 10.2931 16.68 10.7091 17.528C11.1411 18.36 11.7331 19.008 12.4851 19.472C13.2531 19.92 14.1251 20.144 15.1011 20.144C16.0131 20.144 16.8131 19.944 17.5011 19.544C18.2051 19.128 18.7491 18.52 19.1331 17.72H22.9971C22.4371 19.432 21.4531 20.768 20.0451 21.728C18.6531 22.672 17.0131 23.144 15.1251 23.144C13.5251 23.144 12.0771 22.784 10.7811 22.064C9.50106 21.328 8.48506 20.312 7.73306 19.016C6.99706 17.72 6.62906 16.248 6.62906 14.6Z" fill="black"/></svg>
                                        <p class="d-6-m-d-e-1-title">Height</p>
                                    </div>
                                    <div class="d-6-m-d-e-2">
                                        <p>129.5"</p>
                                        <p>3,290 mm</p>
                                    </div>
                                </div>
                            </div>
                            <div class="d-6-m-d d-6-m-d-topa dim-int" id="d-6-m-d-id-a">
                                <div class="d-6-m-d-e">
                                    <div class="d-6-m-d-e-1">
                                        <svg class="d-6-m-d-e-1-svg" class="d-6-m-d-e-1-svg" width="24" height="24" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="15" cy="15" r="15" fill="#D9D9D9"/><path d="M18.3382 19.808H11.6662L10.5622 23H7.03416L13.0582 6.224H16.9702L22.9942 23H19.4422L18.3382 19.808ZM17.4262 17.12L15.0022 10.112L12.5782 17.12H17.4262Z" fill="black"/></svg>
                                        <p class="d-6-m-d-e-1-title">Width</p>
                                    </div>
                                    <div class="d-6-m-d-e-2">
                                        <p>342.5"</p>
                                        <p>8,700 mm</p>
                                    </div>
                                </div>
                                <div class="d-6-m-d-e">
                                    <div class="d-6-m-d-e-1">
                                        <svg class="d-6-m-d-e-1-svg" width="24" height="24" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="15" cy="15" r="15" fill="#D9D9D9"/><path d="M18.4491 14.408C19.3931 14.584 20.1691 15.056 20.7771 15.824C21.3851 16.592 21.6891 17.472 21.6891 18.464C21.6891 19.36 21.4651 20.152 21.0171 20.84C20.5851 21.512 19.9531 22.04 19.1211 22.424C18.2891 22.808 17.3051 23 16.1691 23H8.94506V6.248H15.8571C16.9931 6.248 17.9691 6.432 18.7851 6.8C19.6171 7.168 20.2411 7.68 20.6571 8.336C21.0891 8.992 21.3051 9.736 21.3051 10.568C21.3051 11.544 21.0411 12.36 20.5131 13.016C20.0011 13.672 19.3131 14.136 18.4491 14.408ZM12.3051 13.16H15.3771C16.1771 13.16 16.7931 12.984 17.2251 12.632C17.6571 12.264 17.8731 11.744 17.8731 11.072C17.8731 10.4 17.6571 9.88 17.2251 9.512C16.7931 9.144 16.1771 8.96 15.3771 8.96H12.3051V13.16ZM15.6891 20.264C16.5051 20.264 17.1371 20.072 17.5851 19.688C18.0491 19.304 18.2811 18.76 18.2811 18.056C18.2811 17.336 18.0411 16.776 17.5611 16.376C17.0811 15.96 16.4331 15.752 15.6171 15.752H12.3051V20.264H15.6891Z" fill="black"/></svg>
                                        <p class="d-6-m-d-e-1-title">Length</p>
                                    </div>
                                    <div class="d-6-m-d-e-2">
                                        <p>463.4"</p>
                                        <p>11,770 mm</p>
                                    </div>
                                </div>
                            </div>
                            <div class="d-6-m-d d-6-m-d-topb dim-int" id="d-6-m-d-id-b">
                                <div class="d-6-m-d-e">
                                    <div class="d-6-m-d-e-1">
                                        <svg class="d-6-m-d-e-1-svg" class="d-6-m-d-e-1-svg" width="24" height="24" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="15" cy="15" r="15" fill="#D9D9D9"/><path d="M18.3382 19.808H11.6662L10.5622 23H7.03416L13.0582 6.224H16.9702L22.9942 23H19.4422L18.3382 19.808ZM17.4262 17.12L15.0022 10.112L12.5782 17.12H17.4262Z" fill="black"/></svg>
                                        <p class="d-6-m-d-e-1-title">Width</p>
                                    </div>
                                    <div class="d-6-m-d-e-2">
                                        <p>342.5"</p>
                                        <p>8,700 mm</p>
                                    </div>
                                </div>
                                <div class="d-6-m-d-e">
                                    <div class="d-6-m-d-e-1">
                                        <svg class="d-6-m-d-e-1-svg" width="24" height="24" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="15" cy="15" r="15" fill="#D9D9D9"/><path d="M18.4491 14.408C19.3931 14.584 20.1691 15.056 20.7771 15.824C21.3851 16.592 21.6891 17.472 21.6891 18.464C21.6891 19.36 21.4651 20.152 21.0171 20.84C20.5851 21.512 19.9531 22.04 19.1211 22.424C18.2891 22.808 17.3051 23 16.1691 23H8.94506V6.248H15.8571C16.9931 6.248 17.9691 6.432 18.7851 6.8C19.6171 7.168 20.2411 7.68 20.6571 8.336C21.0891 8.992 21.3051 9.736 21.3051 10.568C21.3051 11.544 21.0411 12.36 20.5131 13.016C20.0011 13.672 19.3131 14.136 18.4491 14.408ZM12.3051 13.16H15.3771C16.1771 13.16 16.7931 12.984 17.2251 12.632C17.6571 12.264 17.8731 11.744 17.8731 11.072C17.8731 10.4 17.6571 9.88 17.2251 9.512C16.7931 9.144 16.1771 8.96 15.3771 8.96H12.3051V13.16ZM15.6891 20.264C16.5051 20.264 17.1371 20.072 17.5851 19.688C18.0491 19.304 18.2811 18.76 18.2811 18.056C18.2811 17.336 18.0411 16.776 17.5611 16.376C17.0811 15.96 16.4331 15.752 15.6171 15.752H12.3051V20.264H15.6891Z" fill="black"/></svg>
                                        <p class="d-6-m-d-e-1-title">Length</p>
                                    </div>
                                    <div class="d-6-m-d-e-2">
                                        <p>386.6"</p>
                                        <p>9,820 mm</p>
                                    </div>
                                </div>
                            </div>
                            <div class="d-6-m-d d-6-m-d-topc dim-int" id="d-6-m-d-id-c">
                                <div class="d-6-m-d-e">
                                    <div class="d-6-m-d-e-1">
                                        <svg class="d-6-m-d-e-1-svg" class="d-6-m-d-e-1-svg" width="24" height="24" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="15" cy="15" r="15" fill="#D9D9D9"/><path d="M18.3382 19.808H11.6662L10.5622 23H7.03416L13.0582 6.224H16.9702L22.9942 23H19.4422L18.3382 19.808ZM17.4262 17.12L15.0022 10.112L12.5782 17.12H17.4262Z" fill="black"/></svg>
                                        <p class="d-6-m-d-e-1-title">Body Width</p>
                                    </div>
                                    <div class="d-6-m-d-e-2">
                                        <p>102.4"</p>
                                        <p>2,600 mm</p>
                                    </div>
                                </div>
                                <div class="d-6-m-d-e">
                                    <div class="d-6-m-d-e-1">
                                        <svg class="d-6-m-d-e-1-svg" width="24" height="24" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="15" cy="15" r="15" fill="#D9D9D9"/><path d="M18.4491 14.408C19.3931 14.584 20.1691 15.056 20.7771 15.824C21.3851 16.592 21.6891 17.472 21.6891 18.464C21.6891 19.36 21.4651 20.152 21.0171 20.84C20.5851 21.512 19.9531 22.04 19.1211 22.424C18.2891 22.808 17.3051 23 16.1691 23H8.94506V6.248H15.8571C16.9931 6.248 17.9691 6.432 18.7851 6.8C19.6171 7.168 20.2411 7.68 20.6571 8.336C21.0891 8.992 21.3051 9.736 21.3051 10.568C21.3051 11.544 21.0411 12.36 20.5131 13.016C20.0011 13.672 19.3131 14.136 18.4491 14.408ZM12.3051 13.16H15.3771C16.1771 13.16 16.7931 12.984 17.2251 12.632C17.6571 12.264 17.8731 11.744 17.8731 11.072C17.8731 10.4 17.6571 9.88 17.2251 9.512C16.7931 9.144 16.1771 8.96 15.3771 8.96H12.3051V13.16ZM15.6891 20.264C16.5051 20.264 17.1371 20.072 17.5851 19.688C18.0491 19.304 18.2811 18.76 18.2811 18.056C18.2811 17.336 18.0411 16.776 17.5611 16.376C17.0811 15.96 16.4331 15.752 15.6171 15.752H12.3051V20.264H15.6891Z" fill="black"/></svg>
                                        <p class="d-6-m-d-e-1-title">Body Length</p>
                                    </div>
                                    <div class="d-6-m-d-e-2">
                                        <p>386.6"</p>
                                        <p>9,820 mm</p>
                                    </div>
                                </div>
                            </div>
                            <div class="d-6-m-d d-6-m-d-front dim-int" id="d-6-m-d-id-front">
                                <div class="d-6-m-d-e">
                                    <div class="d-6-m-d-e-1">
                                        <svg class="d-6-m-d-e-1-svg" class="d-6-m-d-e-1-svg" width="24" height="24" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="15" cy="15" r="15" fill="#D9D9D9"/><path d="M18.3382 19.808H11.6662L10.5622 23H7.03416L13.0582 6.224H16.9702L22.9942 23H19.4422L18.3382 19.808ZM17.4262 17.12L15.0022 10.112L12.5782 17.12H17.4262Z" fill="black"/></svg>
                                        <p class="d-6-m-d-e-1-title">Height</p>
                                    </div>
                                    <div class="d-6-m-d-e-2">
                                        <p>129.5"</p>
                                        <p>3,290 mm</p>
                                    </div>
                                </div>
                                <div class="d-6-m-d-e">
                                    <div class="d-6-m-d-e-1">
                                        <svg class="d-6-m-d-e-1-svg" width="24" height="24" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="15" cy="15" r="15" fill="#D9D9D9"/><path d="M18.4491 14.408C19.3931 14.584 20.1691 15.056 20.7771 15.824C21.3851 16.592 21.6891 17.472 21.6891 18.464C21.6891 19.36 21.4651 20.152 21.0171 20.84C20.5851 21.512 19.9531 22.04 19.1211 22.424C18.2891 22.808 17.3051 23 16.1691 23H8.94506V6.248H15.8571C16.9931 6.248 17.9691 6.432 18.7851 6.8C19.6171 7.168 20.2411 7.68 20.6571 8.336C21.0891 8.992 21.3051 9.736 21.3051 10.568C21.3051 11.544 21.0411 12.36 20.5131 13.016C20.0011 13.672 19.3131 14.136 18.4491 14.408ZM12.3051 13.16H15.3771C16.1771 13.16 16.7931 12.984 17.2251 12.632C17.6571 12.264 17.8731 11.744 17.8731 11.072C17.8731 10.4 17.6571 9.88 17.2251 9.512C16.7931 9.144 16.1771 8.96 15.3771 8.96H12.3051V13.16ZM15.6891 20.264C16.5051 20.264 17.1371 20.072 17.5851 19.688C18.0491 19.304 18.2811 18.76 18.2811 18.056C18.2811 17.336 18.0411 16.776 17.5611 16.376C17.0811 15.96 16.4331 15.752 15.6171 15.752H12.3051V20.264H15.6891Z" fill="black"/></svg>
                                        <p class="d-6-m-d-e-1-title">Body Width</p>
                                    </div>
                                    <div class="d-6-m-d-e-2">
                                        <p>102.4"</p>
                                        <p>2,600 mm</p>
                                    </div>
                                </div>
                            </div>
                            <div class="d-6-m-d d-6-m-d-luggage dim-int" id="d-6-m-d-id-luggage">
                                <div class="d-6-m-d-e">
                                    <div class="d-6-m-d-e-1">
                                        <svg class="d-6-m-d-e-1-svg" class="d-6-m-d-e-1-svg" width="24" height="24" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="15" cy="15" r="15" fill="#D9D9D9"/><path d="M18.3382 19.808H11.6662L10.5622 23H7.03416L13.0582 6.224H16.9702L22.9942 23H19.4422L18.3382 19.808ZM17.4262 17.12L15.0022 10.112L12.5782 17.12H17.4262Z" fill="black"/></svg>
                                        <p class="d-6-m-d-e-1-title">Max Width</p>
                                    </div>
                                    <div class="d-6-m-d-e-2">
                                        <p>50.0"</p>
                                        <p>1,270 mm</p>
                                    </div>
                                </div>
                                <div class="d-6-m-d-e">
                                    <div class="d-6-m-d-e-1">
                                        <svg class="d-6-m-d-e-1-svg" width="24" height="24" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="15" cy="15" r="15" fill="#D9D9D9"/><path d="M18.4491 14.408C19.3931 14.584 20.1691 15.056 20.7771 15.824C21.3851 16.592 21.6891 17.472 21.6891 18.464C21.6891 19.36 21.4651 20.152 21.0171 20.84C20.5851 21.512 19.9531 22.04 19.1211 22.424C18.2891 22.808 17.3051 23 16.1691 23H8.94506V6.248H15.8571C16.9931 6.248 17.9691 6.432 18.7851 6.8C19.6171 7.168 20.2411 7.68 20.6571 8.336C21.0891 8.992 21.3051 9.736 21.3051 10.568C21.3051 11.544 21.0411 12.36 20.5131 13.016C20.0011 13.672 19.3131 14.136 18.4491 14.408ZM12.3051 13.16H15.3771C16.1771 13.16 16.7931 12.984 17.2251 12.632C17.6571 12.264 17.8731 11.744 17.8731 11.072C17.8731 10.4 17.6571 9.88 17.2251 9.512C16.7931 9.144 16.1771 8.96 15.3771 8.96H12.3051V13.16ZM15.6891 20.264C16.5051 20.264 17.1371 20.072 17.5851 19.688C18.0491 19.304 18.2811 18.76 18.2811 18.056C18.2811 17.336 18.0411 16.776 17.5611 16.376C17.0811 15.96 16.4331 15.752 15.6171 15.752H12.3051V20.264H15.6891Z" fill="black"/></svg>
                                        <p class="d-6-m-d-e-1-title">Min Width</p>
                                    </div>
                                    <div class="d-6-m-d-e-2">
                                        <p>19.7"</p>
                                        <p>500 mm</p>
                                    </div>
                                </div>
                                <div class="d-6-m-d-e">
                                    <div class="d-6-m-d-e-1">
                                        <svg class="d-6-m-d-e-1-svg" width="24" height="24" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="15" cy="15" r="15" fill="#D9D9D9"/><path d="M6.62906 14.6C6.62906 12.952 6.99706 11.48 7.73306 10.184C8.48506 8.872 9.50106 7.856 10.7811 7.136C12.0771 6.4 13.5251 6.032 15.1251 6.032C16.9971 6.032 18.6371 6.512 20.0451 7.472C21.4531 8.432 22.4371 9.76 22.9971 11.456H19.1331C18.7491 10.656 18.2051 10.056 17.5011 9.656C16.8131 9.256 16.0131 9.056 15.1011 9.056C14.1251 9.056 13.2531 9.288 12.4851 9.752C11.7331 10.2 11.1411 10.84 10.7091 11.672C10.2931 12.504 10.0851 13.48 10.0851 14.6C10.0851 15.704 10.2931 16.68 10.7091 17.528C11.1411 18.36 11.7331 19.008 12.4851 19.472C13.2531 19.92 14.1251 20.144 15.1011 20.144C16.0131 20.144 16.8131 19.944 17.5011 19.544C18.2051 19.128 18.7491 18.52 19.1331 17.72H22.9971C22.4371 19.432 21.4531 20.768 20.0451 21.728C18.6531 22.672 17.0131 23.144 15.1251 23.144C13.5251 23.144 12.0771 22.784 10.7811 22.064C9.50106 21.328 8.48506 20.312 7.73306 19.016C6.99706 17.72 6.62906 16.248 6.62906 14.6Z" fill="black"/></svg>
                                        <p class="d-6-m-d-e-1-title">Max Height</p>
                                    </div>
                                    <div class="d-6-m-d-e-2">
                                        <p>21.5"</p>
                                        <p>545 mm</p>
                                    </div>
                                </div>
                                <div class="d-6-m-d-e">
                                    <div class="d-6-m-d-e-1">
                                        <svg class="d-6-m-d-e-1-svg" width="24" height="24" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="15" cy="15" r="15" fill="#D9D9D9"/><path d="M14.9104 6.248C16.6704 6.248 18.2144 6.592 19.5424 7.28C20.8864 7.968 21.9184 8.952 22.6384 10.232C23.3744 11.496 23.7424 12.968 23.7424 14.648C23.7424 16.328 23.3744 17.8 22.6384 19.064C21.9184 20.312 20.8864 21.28 19.5424 21.968C18.2144 22.656 16.6704 23 14.9104 23H9.05444V6.248H14.9104ZM14.7904 20.144C16.5504 20.144 17.9104 19.664 18.8704 18.704C19.8304 17.744 20.3104 16.392 20.3104 14.648C20.3104 12.904 19.8304 11.544 18.8704 10.568C17.9104 9.576 16.5504 9.08 14.7904 9.08H12.4144V20.144H14.7904Z" fill="black"/></svg>
                                        <p class="d-6-m-d-e-1-title">Length</p>
                                    </div>
                                    <div class="d-6-m-d-e-2">
                                        <p>63.8"</p>
                                        <p>1,620 mm</p>
                                    </div>
                                </div>
                                <div class="d-6-m-d-e">
                                    <div class="d-6-m-d-e-1">
                                        <svg class="d-6-m-d-e-1-svg" width="24" height="24" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="15" cy="15" r="15" fill="#D9D9D9"/><path d="M13.6293 8.96V13.16H19.2693V15.824H13.6293V20.264H19.9893V23H10.2693V6.224H19.9893V8.96H13.6293Z" fill="black"/></svg>
                                        <p class="d-6-m-d-e-1-title">Min Height</p>
                                    </div>
                                    <div class="d-6-m-d-e-2">
                                        <p>14.4"</p>
                                        <p>365 mm</p>
                                    </div>
                                </div>
                                <div class="d-6-m-d-e">
                                    <div class="d-6-m-d-e-1">
                                        <svg class="d-6-m-d-e-1-svg" width="24" height="24" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="15" cy="15" r="15" fill="#D9D9D9"/><path d="M20.6367 6.248V8.96H13.6527V13.256H19.0047V15.92H13.6527V23H10.2927V6.248H20.6367Z" fill="black"/></svg>
                                        <p class="d-6-m-d-e-1-title">Total Volume</p>
                                    </div>
                                    <div class="d-6-m-d-e-2">
                                        <p>24.7 ft<sup>3</sup></p>
                                        <p>0.7 m<sup>3</sup></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-6-m-i">
                            <img id="dim-img" src="./images/dimmension-side.png" alt="sketch of helicopter dimension">
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <div class="footer-cont">
                <div class="f-1 f-1-hid">
                    <h3>Jump to the front of the line</h3>
                    <h3>for your hill HX50</h3>
                    <p>Offering HX50 hall number: 222, 223,224</p>
                    <p>Also available commercial HC50 hall number: 006</p>
                </div>
                <div class="f-1">
                    <h3>Secure your place in production line!</h3>
                    <p>
                        <svg width="35" height="23" style="margin: 0 10px -5px 0;" viewBox="0 0 64 43" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_120_6)"><rect width="64" height="43" fill="white"/><path d="M14.08 0H0V43H14.08V0Z" fill="#E60000" stroke="#FF0000" stroke-width="0.125"/><path d="M64 0H49.92V43H64V0Z" fill="#E60000" stroke="#FF0000" stroke-width="0.125"/><path d="M47.1775 21.95C47.1775 21.95 46.666 21.7323 45.8815 21.3352C45.146 20.9664 45.272 20.526 45.351 20.148C45.4275 19.7721 46.589 15.2562 46.589 15.2562C46.589 15.2562 42.9724 16.0684 42.423 16.1864C41.873 16.3063 41.696 16.1088 41.617 15.9292C41.539 15.7509 41.067 13.6728 41.067 13.6728C41.067 13.6728 38.0205 17.3563 37.3715 17.9499C36.7245 18.5435 36.37 17.7917 36.4875 17.2172C36.605 16.6428 37.9415 8.77987 37.9415 8.77987C37.9415 8.77987 36.4685 9.55185 35.859 9.89047C35.2495 10.2261 34.83 10.0084 34.516 9.4803C34.201 8.95233 32 4.41016 32 4.41016C32 4.41016 29.799 8.95233 29.485 9.48042C29.17 10.0085 28.7515 10.2262 28.143 9.8906C27.5325 9.55198 26.0605 8.78 26.0605 8.78C26.0605 8.78 27.395 16.6429 27.5135 17.2173C27.632 17.7918 27.2775 18.5436 26.6295 17.95C25.9815 17.3565 22.935 13.6729 22.935 13.6729C22.935 13.6729 22.463 15.751 22.384 15.9294C22.3065 16.1089 22.129 16.3063 21.5795 16.1865C21.0295 16.0686 17.413 15.2563 17.413 15.2563C17.413 15.2563 18.5725 19.7722 18.6515 20.1482C18.7305 20.5261 18.854 20.9665 18.1205 21.3354C17.334 21.7324 16.8225 21.9501 16.8225 21.9501C16.8225 21.9501 23.917 28.0514 24.232 28.3668C24.546 28.6843 24.6055 28.9624 24.467 29.3776C24.33 29.7939 22.9255 31.4759 22.9255 31.4759C22.9255 31.4759 30.5255 30.4832 30.861 30.6072C31.1965 30.7301 31.4715 30.6989 31.5645 31.5918C31.6545 32.4847 31.3355 37.0652 31.3355 37.0652H31.9705H32.0295H32.667C32.667 37.0652 32.3465 32.4847 32.4395 31.5918C32.5285 30.6989 32.8035 30.7301 33.14 30.6072C33.4745 30.4832 41.0755 31.4759 41.0755 31.4759C41.0755 31.4759 39.671 29.7939 39.533 29.3776C39.3965 28.9624 39.454 28.6843 39.77 28.3668C40.083 28.0512 47.1775 21.95 47.1775 21.95Z" fill="#E60000" stroke="#FF0000" stroke-width="0.125"/></g><defs><clipPath id="clip0_120_6"><rect width="64" height="43" fill="white"/></clipPath></defs></svg>
                        +1 (416) 992 - 7298
                    </p>
                    <p>WhatsApp: <a class="f-1-a" href="https://wa.me/14169927298" target="_blank">+1 (416) 992 - 7298</a></p>
                    <p><a class="f-1-a" href="mailto:jumpthelinehillhelicopters@gmail.com" target="_blank">jumpthelinehillhelicopters@gmail.com</a></p>
                    <a href="/contact">Get in touch&nbsp;&#8680;</a>
                </div>
            </div>
            <p class="credential">Designed and developed by 
                <a class="credential-link" href="https://webbuildservice.com/" target="_blank">Web Build Service</a>
            </p>
        </footer>
    </body>
</html>