<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Josh Nguyen">
        <meta name="keywords" content="hillhelicopters, hillhelicopter, hill-helicopters, hill-helicopter, helicopters, helicopter, heli, air">
        <meta name="description" content="Hill Helicopters aims to disrupt the aviation market with a revolutionary new helicopter. Experience Jason Hill's vision of luxury, personal flight with Hill Helicopters' HX50. Pre Order yours now. Available worldwide. Features: 500 shp Horsepower, 700 nm Max Range.">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Hill Helicopters">
        <meta property="og:description" content="Hill Helicopters aims to disrupt the aviation market with a revolutionary new helicopter. Experience Jason Hill's vision of luxury, personal flight with Hill Helicopters' HX50. Pre Order yours now. Available worldwide. Features: 500 shp Horsepower, 700 nm Max Range.">
        <!-- Note to change this route -->
        <!-- <meta property="og:image" content="https://joshnguyentoronto.com/images/profile_camp_3.png">
        <meta property="og:url" content="https://joshnguyentoronto.com/">
        <meta property="og:locale" content="en_CA">
        <meta property="og:site_name" content="joshnguyentoronto.com">
        <meta property="og:image:width" content="600">
        <meta property="og:image:height" content="479">
        <meta property="og:image:type" content="image/png">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@big_boys_with_cool_toys">
        <meta name="twitter:title" content="">
        <meta name="twitter:description" content="View Josh's personal portfolio website where you can find Josh's information, background, skills, resume, Josh's projects, and more.">
        <meta name="twitter:image" content="https://joshnguyentoronto.com/images/profile_camp_3.png">
        <meta name="twitter:url" content="https://joshnguyentoronto.com/"> -->
        <title>Luxury Private Helicopter - HILL HELICOPTERS</title>
        <!-- <link rel="canonical" href="https://joshnguyentoronto.com/"> -->
        <!-- <link rel="icon" href="../images/hilheli-icon.png"> -->
        <link rel="stylesheet" href="./home.css">
        <script defer src="../home.js"></script>
    </head>


    <body>
        <header>
            <div class="h-cont">
                <div class="h-i">
                    <a href="/"><img class="h-i-img" src="./images/hill-logo.png" alt="Logo image"></a>
                </div>
                <div class="h-m">
                    <a id="active" href="/">Home</a>
                    <a href="/gallery">Gallery</a>
                    <a id="h-contact" href="/contact">Contact</a>
                </div>
            </div>
        </header>

        <main>
            <div class="d-1-cont">
                <div class="d-1">
                    <div class="d-1-main">
                        <p class="d-1-main-small">World first luxury private helicopter HX50</p>
                        <h1>Jump to the front of</h1>
                        <h1>the line for your hill HX50</h1>
                        <p class="d-1-main-small-1">Offering HX50 hall number: 222, 223,224</p>
                        <p class="d-1-main-small-1">Also available commercial HC50 hall number: 006</p>
                        <a id="d-1-main-link" href="/contact">Contact&nbsp;&#8680;</a>
                    </div>
                    <div class="d-1-stat">
                        <div class="d-1-stat-e">
                            <h5>500 shp</h5>
                            <p>HORSE POWER</p>
                        </div>
                        <div class="d-1-stat-e">
                            <h5>140 kts</h3>
                            <p>CRUISE SPEED</p>
                        </div>
                        <div class="d-1-stat-e">
                            <h5>700 nm</h3>
                            <p>MAX RANGE</p>
                        </div>
                        <div class="d-1-stat-e">
                            <h5>1760 lbs</h3>
                            <p>PAYLOAD</p>
                        </div>
                        <div class="d-1-stat-e">
                            <h5>$595,000</h3>
                            <p>BASE PRICE</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-1-alt">
                <div class="d-1-alt-main">
                    <p class="d-1-main-small">World first luxury private helicopter HX50</p>
                    <h1>Jump to the front of</h1>
                    <h1>the line for your hill HX50</h1>
                    <p class="d-1-main-small-1">Offering HX50 hall number: 222, 223,224</p>
                    <p class="d-1-main-small-1">Also available commercial HC50 hall number: 006</p>
                    <a id="d-1-main-link" href="/contact">Contact&nbsp;&#8680;</a>
                </div>
            </div>

            <div class="d-2-cont">
                <div class="d-2">
                    <h4>If you want to purchase the Hill HX50 private luxury helicopter and pre-order directly through Hill Helicopters, the estimated delivery timeline can extend to late 2026. </h4>
                    <h4>However, pre-ordering through our services will allow you to secure your helicopter as early as spring 2025, gaining a significant head start in line. For priority access to this advanced timeline, please contact me to guarantee your placement at the forefront of the production order queue.</h4>
                    <a href="/contact">Get in touch&nbsp;&#8680;</a>
                </div>
            </div>

            <div class="d-3">
                <h1>Choose your dream helicopter</h1>
                <div class="d-3-1">
                    <div class="d-3-1-m">
                        <div class="d-3-1-m-i">
                            <h3 class="d-3-1-h3">Select paint</h3>
                            <img class="d-3-1-m-i-i" id="paint-img" src="./images/outside_1_1.png" alt="helicopter image">
                        </div>
                        <div class="d-3-1-m-c">
                            <button class="d-3-1-m-c-div" id="d-3-1-m-c-div-active" onclick="changePaint(id)" id="ext-1">
                                <div class="d-3-1-m-c-1"></div>&nbsp;&nbsp;&nbsp;<p>Supermarine white</p>
                            </button>
                            <button class="d-3-1-m-c-div" onclick="changePaint(id)" id="ext-2">
                                <div class="d-3-1-m-c-2"></div>&nbsp;&nbsp;&nbsp;<p>Endeavour Red</p>
                            </button>
                            <button class="d-3-1-m-c-div" onclick="changePaint(id)" id="ext-3">
                                <div class="d-3-1-m-c-3"></div>&nbsp;&nbsp;&nbsp;<p>Forged Orange</p>
                            </button>
                            <button class="d-3-1-m-c-div" onclick="changePaint(id)" id="ext-4">
                                <div class="d-3-1-m-c-4"></div>&nbsp;&nbsp;&nbsp;<p>British Racing Green</p>
                            </button>
                            <button class="d-3-1-m-c-div" onclick="changePaint(id)" id="ext-5">
                                <div class="d-3-1-m-c-5"></div>&nbsp;&nbsp;&nbsp;<p>Royal Blue</p>
                            </button>
                            <button class="d-3-1-m-c-div" onclick="changePaint(id)" id="ext-6">
                                <div class="d-3-1-m-c-6"></div>&nbsp;&nbsp;&nbsp;<p>Mercury</p>
                            </button>
                            <button class="d-3-1-m-c-div" onclick="changePaint(id)"  id="ext-7">
                                <div class="d-3-1-m-c-7"></div>&nbsp;&nbsp;&nbsp;<p>Graphite</p>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="d-3-2">
                    <div class="d-3-2-i">
                        <div class="d-3-2-i-i">
                            <img id="int-img-main" src="./images/interior_1_1.jpg" alt="helicopter interior main image">
                        </div>
                        <div class="d-3-2-i-o">
                            <div class="d-3-2-i-o-e">
                                <img id="int-img-1" onclick="changeInt(src)" src="./images/interior_1_1.jpg" alt="helicopter interior selection image">
                            </div>
                            <div class="d-3-2-i-o-e">
                                <img id="int-img-2" onclick="changeInt(src)" src="./images/interior_1_2.jpg" alt="helicopter interior selection image">
                            </div>
                            <div class="d-3-2-i-o-e">
                                <img id="int-img-3" onclick="changeInt(src)" src="./images/interior_1_3.jpg" alt="helicopter interior selection image">
                            </div>
                        </div>
                    </div>
                    <div class="d-3-2-m">
                        <h3>Customize your interior</h3>
                        <p>
                            Experience unparalleled luxury with our exclusive interior customization offer. From opulent leather seats to a choice of fine wood finishes, each detail is tailored to your taste.</p>
                        <p id="color-name">Color: Sky white</p>
                        <div class="d-3-2-m-c">
                            <div id="int-color-1" onclick="changeIntColor(id)" class="d-3-2-m-c-each d-3-2-m-c-1"></div>
                            <div id="int-color-2" onclick="changeIntColor(id)" class="d-3-2-m-c-each d-3-2-m-c-2"></div>
                            <div id="int-color-3" onclick="changeIntColor(id)" class="d-3-2-m-c-each d-3-2-m-c-3"></div>
                            <div id="int-color-4" onclick="changeIntColor(id)" class="d-3-2-m-c-each d-3-2-m-c-4"></div>
                            <div id="int-color-5" onclick="changeIntColor(id)" class="d-3-2-m-c-each d-3-2-m-c-5"></div>
                            <div id="int-color-6" onclick="changeIntColor(id)" class="d-3-2-m-c-each d-3-2-m-c-6"></div>
                            <div id="int-color-7" onclick="changeIntColor(id)" class="d-3-2-m-c-each d-3-2-m-c-7"></div>
                            <div id="int-color-8" onclick="changeIntColor(id)" class="d-3-2-m-c-each d-3-2-m-c-8"></div>
                            <div id="int-color-9" onclick="changeIntColor(id)" class="d-3-2-m-c-each d-3-2-m-c-9"></div>
                            <div id="int-color-10" onclick="changeIntColor(id)" class="d-3-2-m-c-each d-3-2-m-c-10"></div>
                        </div>
                    </div>
                </div>

                <div class="d-3-3">
                    <h3>Select landing gear</h3>
                    <div class="d-3-3-m">
                        <div class="d-3-3-m-e">
                            <img src="./images/skid.jpg" alt="helicopter with skid landing gear">
                            <p class="d-3-3-m-e-title">Flexible skid</p>
                            <p class="d-3-3-m-e-text">A fixed skid system enables easier landing on rugged terrain, such as snow, mud, and loose gravel.</p>
                        </div>
                        <div class="d-3-3-m-e">
                            <img src="./images/wheel.jpg" alt="helicopter with wheel landing gear">
                            <p class="d-3-3-m-e-title">Convenient wheel</p>
                            <p class="d-3-3-m-e-text">Retractable wheels offer effortless long-distance travel and optimal maneuverability on the ground.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-4-cont">
                <div class="d-4">
                    <div class="d-4-v">
                        <iframe src="https://www.youtube.com/embed/gLHO7ciJSWI?start=0&autoplay=0&loop=1&mute=1&modestbranding=1&rel=0&iv_load_policy=3&disablekb=1&fs=0&color=white" width="" height="0" frameborder="0"></iframe>
                    </div>
                    <div class="d-4-m">
                        <h2>Unveiling the creation process</h2>
                        <p>Uncover the story and process behind our helicopters. Immerse yourself in the fusion of technology and artistry that defines each rotor's creation. Join us on this adventure to witness the precision and passion behind elevating air travel.</p>
                        <a class="d-4-m-b" href="/gallery">See our story &nbsp;&#8680;</a>
                    </div>
                </div>
            </div>

            <div class="d-5">
                <h1>Hill HX50 makes flying easier and safer than ever</h1>
                <div class="d-5-2">
                    <div class="d-5-2-m">
                        <h3>The Hill Digital Cockpit (HDC)</h>
                        <p>HDC makes owning and operating a helicopter as simple, convenient, and intuitive as driving a car, resulting in helicopter flying and ownership that is more engaging, accessible, and safer than ever.</p>
                        <p>With full integration of iPad-based navigation and flight planning apps, intelligent, context-sensitive support, and a clear graphical display of flight information only when needed, it delivers new levels of simplicity and profound workload reduction.</p>
                    </div>
                    <div class="d-5-2-i">
                        <img src="./images/hdc1.jpg" alt="Digital Cockpit image">
                    </div>
                </div>
                <div class="d-5-2">
                    <div class="d-5-2-m">
                        <h3>Intelligent pilot support and workload reduction.</h3>
                        <p>HDC allows profound workload reduction by monitoring the aircraft and delivering information in an entirely context-sensitive manner, providing only the information required by the pilot as needed and alerting pilots to changing or urgent conditions.</p>
                        <p>This allows the 'normal' display presentation of primary flight information to be far cleaner and more straightforward.</p>
                    </div>
                    <div class="d-5-2-i">
                        <img src="./images/hdc2.jpg" alt="Digital Cockpit image">
                    </div>
                </div>
                <div class="d-5-1">
                    <div class="d-5-1-e"><p>INTEGRATED PILOT INTERFACE</p></div>
                    <div class="d-5-1-e"><p>CLASS LEADING ERGONOMICS</p></div>
                    <div class="d-5-1-e"><p>NEXT GENERATION VFR HELICOPTER FLYING</p></div>
                    <div class="d-5-1-e"><p>FULL IPAD INTEGRATION</p></div>
                    <div class="d-5-1-e"><p>INTELLIGENT PILOT SUPPORT</p></div>
                </div>
            </div>

            <div class="d-6">
                <h1>DIMENSIONS</h1>
                <ul class="d-6-ul">
                    <li onclick="changeDimmension(id)" id="dimmension-side">SIDE</li>
                    <li onclick="changeDimmension(id)" id="dimmension-A">TOP A</li>
                    <li onclick="changeDimmension(id)" id="dimmension-B">TOP B</li>
                    <li onclick="changeDimmension(id)" id="dimmension-C">TOP C</li>
                    <li onclick="changeDimmension(id)" id="dimmension-front">FRONT</li>
                    <li onclick="changeDimmension(id)" id="dimmension-luggage">LUGGAGE</li>
                </ul>
                <div class="d-6-m">
                    <div class="d-6-m-dim">
                        <div class="d-6-m-d d-6-m-d-side dim-act" id="d-6-m-d-id-side">
                            <div class="d-6-m-d-e">
                                <div class="d-6-m-d-e-1">
                                    <p><span>A</span>&nbsp;<span>Length</span></p>
                                </div>
                                <div class="d-6-m-d-e-2">
                                    <p>463.4"</p>
                                    <p>11,770 mm</p>
                                </div>
                            </div>
                            <div class="d-6-m-d-e">
                                <div class="d-6-m-d-e-1">
                                    <p><span>B</span>&nbsp;<span>Body Length</span></p>
                                </div>
                                <div class="d-6-m-d-e-2">
                                    <p>386.6"</p>
                                    <p>9,820 mm</p>
                                </div>
                            </div>
                            <div class="d-6-m-d-e">
                                <div class="d-6-m-d-e-1">
                                    <p><span>C</span>&nbsp;<span>Height</span></p>
                                </div>
                                <div class="d-6-m-d-e-2">
                                    <p>129.5"</p>
                                    <p>3,290 mm</p>
                                </div>
                            </div>
                        </div>
                        <div class="d-6-m-d d-6-m-d-topa dim-int" id="d-6-m-d-id-a">
                            <div class="d-6-m-d-e">
                                <div class="d-6-m-d-e-1">
                                    <p><span>A</span>&nbsp;<span>Width</span></p>
                                </div>
                                <div class="d-6-m-d-e-2">
                                    <p>342.5"</p>
                                    <p>8,700 mm</p>
                                </div>
                            </div>
                            <div class="d-6-m-d-e">
                                <div class="d-6-m-d-e-1">
                                    <p><span>B</span>&nbsp;<span>Length</span></p>
                                </div>
                                <div class="d-6-m-d-e-2">
                                    <p>463.4"</p>
                                    <p>11,770 mm</p>
                                </div>
                            </div>
                        </div>
                        <div class="d-6-m-d d-6-m-d-topb dim-int" id="d-6-m-d-id-b">
                            <div class="d-6-m-d-e">
                                <div class="d-6-m-d-e-1">
                                    <p><span>A</span>&nbsp;<span>Width</span></p>
                                </div>
                                <div class="d-6-m-d-e-2">
                                    <p>342.5"</p>
                                    <p>8,700 mm</p>
                                </div>
                            </div>
                            <div class="d-6-m-d-e">
                                <div class="d-6-m-d-e-1">
                                    <p><span>B</span>&nbsp;<span>Length</span></p>
                                </div>
                                <div class="d-6-m-d-e-2">
                                    <p>386.6"</p>
                                    <p>9,820 mm</p>
                                </div>
                            </div>
                        </div>
                        <div class="d-6-m-d d-6-m-d-topc dim-int" id="d-6-m-d-id-c">
                            <div class="d-6-m-d-e">
                                <div class="d-6-m-d-e-1">
                                    <p><span>A</span>&nbsp;<span>Body Width</span></p>
                                </div>
                                <div class="d-6-m-d-e-2">
                                    <p>102.4"</p>
                                    <p>2,600 mm</p>
                                </div>
                            </div>
                            <div class="d-6-m-d-e">
                                <div class="d-6-m-d-e-1">
                                    <p><span>B</span>&nbsp;<span>Body Length</span></p>
                                </div>
                                <div class="d-6-m-d-e-2">
                                    <p>386.6"</p>
                                    <p>9,820 mm</p>
                                </div>
                            </div>
                        </div>
                        <div class="d-6-m-d d-6-m-d-front dim-int" id="d-6-m-d-id-front">
                            <div class="d-6-m-d-e">
                                <div class="d-6-m-d-e-1">
                                    <p><span>A</span>&nbsp;<span>Height</span></p>
                                </div>
                                <div class="d-6-m-d-e-2">
                                    <p>129.5"</p>
                                    <p>3,290 mm</p>
                                </div>
                            </div>
                            <div class="d-6-m-d-e">
                                <div class="d-6-m-d-e-1">
                                    <p><span>B</span>&nbsp;<span>Body Width</span></p>
                                </div>
                                <div class="d-6-m-d-e-2">
                                    <p>102.4"</p>
                                    <p>2,600 mm</p>
                                </div>
                            </div>
                        </div>
                        <div class="d-6-m-d d-6-m-d-luggage dim-int" id="d-6-m-d-id-luggage">
                            <div class="d-6-m-d-e">
                                <div class="d-6-m-d-e-1">
                                    <p><span>A</span>&nbsp;<span>Max Width</span></p>
                                </div>
                                <div class="d-6-m-d-e-2">
                                    <p>50.0"</p>
                                    <p>1,270 mm</p>
                                </div>
                            </div>
                            <div class="d-6-m-d-e">
                                <div class="d-6-m-d-e-1">
                                    <p><span>B</span>&nbsp;<span>Min Width</span></p>
                                </div>
                                <div class="d-6-m-d-e-2">
                                    <p>19.7"</p>
                                    <p>500 mm</p>
                                </div>
                            </div>
                            <div class="d-6-m-d-e">
                                <div class="d-6-m-d-e-1">
                                    <p><span>C</span>&nbsp;<span>Max Height</span></p>
                                </div>
                                <div class="d-6-m-d-e-2">
                                    <p>21.5"</p>
                                    <p>545 mm</p>
                                </div>
                            </div>
                            <div class="d-6-m-d-e">
                                <div class="d-6-m-d-e-1">
                                    <p><span>D</span>&nbsp;<span>Length</span></p>
                                </div>
                                <div class="d-6-m-d-e-2">
                                    <p>63.8"</p>
                                    <p>1,620 mm</p>
                                </div>
                            </div>
                            <div class="d-6-m-d-e">
                                <div class="d-6-m-d-e-1">
                                    <p><span>E</span>&nbsp;<span>Min Height</span></p>
                                </div>
                                <div class="d-6-m-d-e-2">
                                    <p>14.4"</p>
                                    <p>365 mm</p>
                                </div>
                            </div>
                            <div class="d-6-m-d-e">
                                <div class="d-6-m-d-e-1">
                                    <p><span>F</span>&nbsp;<span>Total Volume</span></p>
                                </div>
                                <div class="d-6-m-d-e-2">
                                    <p>24.7 ft^3</p>
                                    <p>0.7 m^3</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-6-m-i">
                        <img id="dim-img" src="./images/dimmension-side.png" alt="sketch of helicopter dimension">
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <h1>Jump to the front of the line for your hill HX50</h1>
            <p>Offering HX50 hall number: 222, 223,224</p>
            <p>Also available commercial HC50 hall number: 006</p>
            <h3>Secure your place in production line!</h3>
            <p>+1 (647) 321 - 1965</p>
            <p>Alextheskipro@hotmail.com</p>
            <a href="/contact">Get in touch -></a>
        </footer>
    </body>
</html>