*, ::before, ::after {
    box-sizing: border-box; 
    border-width: 0; 
    border-style: solid; 
    border-color: #000000;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
a, p {
    font-size: 18px;
    color: white;
}
h1 {
    margin: 0;
	padding: 0;
    font-size: 36px;
}
h2 {
    margin: 0;
	padding: 0;
    font-size: 32px;
}
h3 {
    margin: 0;
	padding: 0;
    font-size: 28px;
}
h4 {
    margin: 0;
	padding: 0;
    font-size: 24px;
}
h5, h6 {
    margin: 0;
	padding: 0;
    font-size: 20px;
}
ol, ul {
    list-style: none;
}
html {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
body {
    background-color: #0F1115;
    width: 100%;
    height: 100%;
    color: white;
    font-family: "Poppins", Helvetica, Arial, sans-serif ;
    line-height: 1;
    position: relative;
}
header {
    width: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
}
.h-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: clamp(320px, 80%, 1160px);
    height: 96px;
    padding: 0;
    margin: 0 auto;
}
.h-i {
    width: 200px;
}
.h-i-img {
    width: 100%;
}
.h-m {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
}
.h-m > a {
    text-decoration: none;
    color: White;
    font-size: 28px;
    font-weight: 500;
}
.h-m > a:hover {
    color: #11DD72;
}
#active {
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 5px;
}
#h-contact {
    background-color: #11DD72;
    border-radius: 3px;
    color: #000000;
    font-size: 24px;
    font-weight: 600;
    padding: 5px 10px;
}
main {
    padding: 0 0;
    margin: 0 0;
    width: 100%;
}
.d-1-alt {
    display: none;
}
.d-1-alt-main {
    position: relative;
}
.d-1-cont {
    width: 100%;
    height: 800px;
    padding: 200px 0 0 0;
    margin: 0 0;
    background-image: url("./images/background1.jpg");
    background-position: center;
    background-size: cover;
}
.d-1 {
    width: clamp(320px, 80%, 1160px);
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.d-1-main {
    width: 550px;
    height: 280px;
    position: relative;
}
.d-1-main > h1 {
    letter-spacing: 1px;
    line-height: 50px;
    font-size: 40px;
}
#d-1-main-link {
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #11DD72;
    text-decoration: none;
    position: absolute;
    bottom: 0;
    left: 0;
}
#d-1-main-link:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}
.d-1-main > p {
    letter-spacing: 1px;
}
.d-1-main-small {
    color: #0fb960;
    margin: 10px 0;
    font-weight: 600;
}
.d-1-main-small-1 {
    margin: 20px 0 0 0;
    font-size: 20px;
}
.d-1-stat {
    width: 700px;
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.d-1-stat-e {
    width: 140px;
    height: 80px;
}
.d-1-stat-e > h5 {
    font-size: 24px;
    letter-spacing: 1px;
    text-align: center;
}
.d-1-stat-e > p {
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
    text-align: center;
}
.d-2-cont {
    width: 100%;
    background: linear-gradient(180deg, rgba(100,116,139,1) 0%, rgba(222,229,232,1) 100%);
}
.d-2 {
    margin: 0 auto;
    padding: 70px 0;
    height: 100%;
    width: clamp(300px, 80%, 1160px);
    color: #000000;
}
.d-2 > h4 {
    margin: 20px 0;
    line-height: 150%;
    letter-spacing: 1px;
    font-weight: 600;
}
.d-2 > a {
    font-size: 20px;
    background-color: #11DD72;
    color: #000000;
    border-radius: 5px;
    padding: 10px 12px;
    text-decoration: none;
}
.d-2 > a:hover {
    border: 1px black solid;
}
.d-3 {
    width: 100%;
}
.d-3 > h1 {
    text-align: center;
    margin: 70px 0 60px 0;
}
.d-3-1 {
    width: clamp(300px, 80%, 1160px);
    margin: 20px auto 100px auto;
}
.d-3-1-h3 {
    margin: 20px 0 60px 10px;
    text-align: center;
}
.d-3-1-m {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 240px;
    grid-template-rows: auto;
    gap: 50px;
}
.d-3-1-m-i {
    width: 100%;
}
.d-3-1-m-i-i {
    width: 100%;
    margin: 20px 20px;
}
.d-3-1-m-c {
    width: 100%;
    max-width: 240px;
}
.d-3-1-m-c-div {
    border: 2px #2d2d2d solid;
    border-radius: 5px;
    margin: 10px 0;
    padding: 15px 15px ;
    width: 100%;
    height: 70px;
    background-color: transparent;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}
#d-3-1-m-c-div-active {
    border: 2px #0D9F53 solid;
}
.d-3-1-m-c-div > p {
    font-size: 16px;
}
.d-3-1-m-c-div:hover  {
    border: 2px #4e4e4e solid;
}
.d-3-1-m-c-1 {
    display: inline;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    padding: 10px;
    background-color: #F2F3FF;
}
.d-3-1-m-c-2 {
    display: inline;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    padding: 10px;
    background-color: #9b2524;
}
.d-3-1-m-c-3 {
    display: inline;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    padding: 10px;
    background-color: #fb7216;
}
.d-3-1-m-c-4 {
    display: inline;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    padding: 10px;
    background-color: #004225;
}
.d-3-1-m-c-5 {
    display: inline;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    padding: 10px;
    background-color: #030972;
}
.d-3-1-m-c-6 {
    display: inline;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    padding: 10px;
    background-color: #757575;
}
.d-3-1-m-c-7 {
    display: inline;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    padding: 10px;
    background-color: #353535;
}
.d-3-2 {
    display: flex;
    justify-content: space-between;
    width: clamp(300px, 80%, 1160px);
    margin: 0 auto 100px auto;
}
.d-3-2-i {
    width: 49%;
    display: flex;
    flex-direction: column;
}
.d-3-2-i-i {
    width: 100%;
    margin-bottom: 20px;
} 
#int-img-main {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px #002a86;
}
.d-3-2-i-o {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.d-3-2-i-o-e {
    width: 32%;
    aspect-ratio: 25 / 18;
    padding: 5px;
    border: 2px #2d2d2d solid;
    border-radius: 5px;
}
.d-3-2-i-o-e:hover {
    border: 2px #555555 solid;
}
.d-3-2-i-o-e > img {
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 0 10px #002a86;
}
.d-3-2-m {
    width: 48%;
}
.d-3-2-m > h3 {
    letter-spacing: 1px;
    margin: 5px 0 15px 0;
}
.d-3-2-m > p {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 1.5;
}
#color-name {
    margin: 30px 0 0 0;
}
.d-3-2-m-c {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(5, 1fr);
    width: clamp(320px, 100%, 420px);
    margin: 20px 0 0 0;
}
.d-3-2-m-c-each-cont {
    width: 60px;
    height: 60px;
    margin: 5px;
    padding: 5px;
    border: 2px #2d2d2d solid;
    border-radius: 5px;
}
.d-3-2-m-c-each-cont:hover {
    border: 2px #555555 solid;

}
.d-3-2-m-c-each {
    width: 100%;
    height: 100%;
    border-radius: 3px;
}
.d-3-2-m-c-1 {
    background-color: white;
}
.d-3-2-m-c-2 {
    background-color: #F1DABD;
}
.d-3-2-m-c-3 {
    background-color: #0F0701;
}
.d-3-2-m-c-4 {
    background-color: white;
}
.d-3-2-m-c-5 {
    background-color: #d1c9b2;
}
.d-3-2-m-c-6 {
    background-color: #E6B371;
}
.d-3-2-m-c-7 {
    background-color: #631717;
}
.d-3-2-m-c-8 {
    background-color: #443028;
}
.d-3-2-m-c-9 {
    background-color: #376298;
}
.d-3-2-m-c-10 {
    background-color: black;
}
.d-3-3 {
    width: clamp(300px, 80%, 1160px);
    margin: 0 auto 100px auto;
}
.d-3-3 > h3 {
    text-align: center;
    margin: 0 0 50px 0;
}
.d-3-3-m {
    display: flex;
    justify-content: space-between;
}
.d-3-3-m-e {
    border: 1px #0a7940 solid;
    box-shadow: 0 0 7px #065b2f;
    border-radius: 5px;
    width: 46%;
    max-width: 550px;
}
.d-3-3-m-e > img {
    border-radius: 5px;
}
.d-3-3-m-e-title {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 0 0 0 10px;
    color: #0eba61;
}
.d-3-3-m-e-text {
    letter-spacing: 2px;
    line-height: 28px;
    padding: 0 0 0 10px;
    margin: 5px 0 20px 0;
}
.d-3-3-m-e > img {
    width: 100%;
}
.d-4-cont {
    width: 100%;
    margin: 20px 0;
    padding: 100px 0;
    background: linear-gradient(180deg, rgba(100,116,139,1) 0%, rgba(222,229,232,1) 100%);
}
.d-4 {
    width: clamp(300px, 80%, 1160px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.d-4-v {
    width: 48%;
    aspect-ratio: 16 / 9;
    position: relative;
    background-color: transparent;
}
.d-4-v > iframe {
    background-color: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
}
.d-4-m {
    width: 48%;
}
.d-4-m > h2 {
    color: #000000;
    margin: 10px 0 0 0;
}
.d-4-m > p {
    color: #000000;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 28px;
    margin: 20px 0 50px 0;
}
.d-4-m-b {
    font-size: 20px;
    background-color: #0dba61;
    color: #000000;
    border-radius: 5px;
    padding: 10px 12px;
    text-decoration: none;
}
.d-4-m-b:hover {
    border: 1px black solid;
}
.d-5 {
    margin: 0;
    width: 100%;
}
.d-5 > h1 {
    text-align: center;
    margin: 100px 0 0 0;
}
.d-5-1 {
    width: clamp(320px, 95%, 1440px);
    margin: 50px auto 80px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.d-5-1-e {
    width: clamp(250px, 20%, 300px);
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    padding: 10px 20px;
}
.d-5-2 {
    width: clamp(300px, 80%, 1160px);
    margin: 80px auto;
    display: flex;
    justify-content: space-between;
}
.d-5-2-m {
    width: 48%;
}
.d-5-2-m > h3 {
    margin: 10px 0 0 0;
    line-height: 1.3;
    letter-spacing: 1px;
}
.d-5-2-m > p {
    line-height: 1.4;
    letter-spacing: 1px;
    font-weight: 400;
}
.d-5-2-i {
    width: 48%;
}
.d-5-2-i > img {
    width: 100%;
}
.d-6-cont {
    width: 100%;
    margin: 0;
    padding: 80px 0 100px 0;
    background-color: #262626;
}
.d-6 {
    margin: 0 auto;
    width: clamp(320px, 80%, 1160px);
}
.d-6 > h1 {
    letter-spacing: 1px;
    margin: 20px 0 30px 0;
}
.d-6-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 480px;
    height: 50px;
}
.d-6-ul > li {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    height: 50px;
    text-align: center;
    /* display: flex;
    justify-content: flex-start;
    align-items: center; */
}
.d-6-ul > li:hover {
    color: #0D9F53;
    text-decoration: underline;
    text-underline-offset: 5px;
}
.d-6-active {
    color: #0D9F53;
    text-decoration: underline;
    text-underline-offset: 5px;
}
.d-6-m {
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
}
.d-6-m-dim {
    width: 29%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
.d-6-m-d {
    width: 100%;
    max-width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.d-6-m-d-e {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px rgb(109, 109, 109) solid;
}
.d-6-m-d-e-1 {
    display: flex;
    letter-spacing: 1px;
}
.d-6-m-d-e-1-svg {
    margin: auto 20px auto 0;
}
.d-6-m-d-e-1-title {
    padding: 0;
    margin: auto 0;
}
.d-6-m-d-e-2 {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
}
.d-6-m-d-e-2 > p {
    margin: auto 0;
    text-align: right;
}
.d-6-m-i {
    width: 69%;
    height: 600px;
    overflow: hidden;
}
.d-6-m-i > img {
    width: 100%;
    height: 100%;
    transform: scale(1.2);
    transform-origin: 50% 50%;
}
.dim-act {
    visibility: visible;
    position: inherit;
}
.dim-int {
    visibility: hidden;
    position: absolute;
    user-select: none;
}
footer {
    background-color: rgb(15, 15, 15);
    width: 100%;
}
.footer-cont {
    width: clamp(320px, 80%, 1160px);
    margin: 0 auto;
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
}
.f-1 {
    width: 49%;
}
.f-1 > h3 {
    line-height: 1.3;
    letter-spacing: 1px;
}
.f-1 > p {
    line-height: 1.3;
    letter-spacing: 1px;
}
.f-1 > p:last-of-type {
    margin-bottom: 30px;
}
.f-1 > a {
    font-size: 20px;
    background-color: #11DD72;
    color: #000000;
    border-radius: 5px;
    margin: 50px 0 0 1px;
    padding: 10px 12px;
    text-decoration: none;
}
.f-1 > a:hover {
    border: 1px black solid;
}
@media (max-width: 1200px) {
    .d-3-1-m {
        display: block;
    }
    .d-3-1-m-c {
        width: 100%;
        max-width: 100%;
        margin: 30px 0 0 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .d-3-1-m-c-div {
        width: 240px;
        margin: 10px 0;
    }
    .d-3-1-m-i-i {
        margin: 0;
    }
    .d-3-3-m-e {
        width: 48%;
    }
    .d-5-2 {
        margin: 80px auto;
        display: block;
    }
    .d-5-2-m {
        width: 100%;
    }
    .d-5-2-i {
        margin: 20px auto 0 auto;
        width: 60%;
    }
    .d-6 {
        width: 90%;
    }
    .d-6-m {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        column-gap: 50px;
    }
    .d-6-m-dim {
        width: 50%;
        margin: 0 auto;
    }
    .d-6-m-i {
        width: 100%;
        height: auto;
    }
}
@media (max-width: 1000px) {
    .d-4 {
        display: flex;
        flex-direction: column-reverse;
    }
    .d-4-v {
        margin: 40px 0 0 0;
        width: 100%;
    }
    .d-4-m {
        width: 100%;
    }
    .d-4-m > h2 {
        color: #000000;
        margin: 0 0;
    }
    .d-4-m > p {
        margin: 20px 0 30px 0;
    }
    .d-5-2-i {
        width: 80%;
    }
    .d-5 > h1 {
        font-size: 32px;
        margin: 100px 20px 0 20px;
    }
    .d-5-2-m > h3 {
        font-size: 24px;
    }
    .footer-cont {
        width: 90%;
    }
    .f-1 {
        width: 47%;
    }
    .d-3-2-m {
        width: 49%;
    }
    .d-3-2-m > p {
        font-size: 18px;
        line-height: 1.4;
    }
    #color-name {
        margin: 20px 0 0 0;
    }
    .d-3-2-m-c {
        width: clamp(320px, 90%, 420px);
        margin: 10px 0;
    }
    .d-3-2-m-c-each-cont {
        width: 45px;
        height: 45px;
    }
}
@media (max-width: 800px) {
    .h-cont {
        width: 90%;
    }
    .h-i {
        width: 150px;
    }
    .h-m {
        width: 300px;
    }
    .h-m > a {
        font-size: 24px;
    }
    .d-1-alt {
        display: block;
        width: 100%;
        height: 210px;
        margin: 50px 0 50px 0;
        padding: 0;
    }
    .d-1-alt-main {
        width: 90%;
        height: 100%;
        margin: 0 auto;
        position: relative;
    }
    .d-1-cont {
        padding: 100px 0 0 0;
        background-image: url("./images/background2.jpg");
    }
    .d-1 {
        width: clamp(320px, 90%, 1160px);
        justify-content: flex-end;
    }
    .d-1-main {
        display: none;
    }
    .d-1-main > h1 {
        line-height: 40px;
        font-size: 32px;
    }
    .d-1-main-small-1 {
        margin: 15px 0 0 0;
    }
    .d-1-stat {
        width: 100%;
    }
    .d-1-stat-e {
        width: 140px;
        height: 80px;
    }
    .d-1-stat-e > h5 {
        font-size: 16px;
    }
    .d-1-stat-e > p {
        font-size: 12px;
    }
    .d-2 {
        padding: 20px 0 50px 0;
        width: 90%;
    }
    .d-2 > h4 {
        margin: 20px 0;
        line-height: 130%;
        font-size: 20px;
    }
    .d-3-1-m-i-i {
        width: 120%;
        margin-left: -50px;
    }
    .d-3-3 {
        width: 90%;
    }
    .d-3-3-m {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .d-3-3-m-e {
        width: 100%;
        margin: 0 0 20px 0;
    }
    .d-4 {
        width: 90%;
    }
    .d-5-2-i {
        width: 90%;
    }
    .d-5-2 {
        width: 90%;
        margin: 60px auto;
    }
    .d-6-m-i > img {
        transform: scale(1.3);
        transform-origin: 70% 50%;
    }
    .d-6-m-dim {
        width: 70%;
    }
    .footer-cont {
        display: flex;
        flex-direction: column-reverse;
        padding: 50px 0;
    }
    .f-1 {
        width: 100%;
    }
    .f-1-hid > h3 {
        display: none;
    }
    .f-1-hid > p:first-of-type {
        margin: 30px 0 18px 0;
    }
    .f-1-hid > p:last-of-type {
        margin: 18px 0 0 0;
    }
    .d-3-2 {
        display: flex;
        flex-direction: column-reverse;
        width: clamp(300px, 90%, 1160px);
    }
    .d-3-2-i {
        width: clamp(300px, 80%, 1160px);
        margin: 0 auto;
    }
    .d-3-2-i-i {
        margin-bottom: 15px;
    } 
    .d-3-2-m {
        width: 100%;
    }
    #color-name {
        margin: 20px 0 0 0;
    }
    .d-3-2-m-c {
        margin: 10px 0 20px 0;
    }
    .d-3-2-m-c-each-cont {
        width: 60px;
        height: 60px;
    }
}
@media (max-width: 600px) {
    .h-i {
        width: 40px;
    }
    .h-i-img {
        content: url("./images/hill-logo-small.png");
    }
    .h-m {
        width: 280px;
    }
    .d-1-cont {
        height: 900px;
    }
    .d-1-alt {
        height: 190px;
    }
    .d-1-alt-main > h1 {
        font-size: 30px;
    }
    .d-1-alt-main > p {
        font-size: 16px;
    }
    .d-2 {
        padding: 20px 0 50px 0;
    }
    .d-2 > h4 {
        margin: 20px 0;
        line-height: 130%;
        font-size: 16px;
    }
    .d-2 > a {
        font-size: 16px;
        border-radius: 5px;
        padding: 5px 10px;
    }
    .d-3-1-m-c {
        margin: 30px 0 0 0;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
    .d-3-1-m-i-i {
        width: 110%;
        margin-left: -30px;
    }
    .d-4-m > h2 {
        font-size: 28px;
    }
    .d-4-m-p {
        font-size: 18px;
    }
    .d-4-m-b {
        font-size: 18px;
    }
    .d-5-1 {
        display: block;
    }
    .d-5-1-e {
        margin: 0 auto;
    }
    .d-5-2-i {
        width: 100%;
    }
    .d-5 > h1 {
        font-size: 28px;
    }
    .d-5-2-m > h3 {
        font-size: 20px;
    }
    .d-3-2-i {
        width: clamp(300px, 90%, 1160px);
    }
    .d-3-2-i-i {
        margin-bottom: 15px;
    } 
    .d-3-2-m {
        width: 100%;
    }
    #color-name {
        margin: 20px 0 0 0;
    }
    .d-3-2-m-c {
        margin: 10px 0 20px 0;
    }
    .d-3-2-m-c-each-cont {
        width: 50px;
        height: 50px;
    }
}
@media (max-width: 430px) {

}